AtomPair CB 28C CB 158D FLAT_HARMONIC 15.0 1 15.0
AtomPair CB 33C CB 166D FLAT_HARMONIC 15.0 1 15.0
AtomPair CB 35C CB 163D FLAT_HARMONIC 15.0 1 15.0
AtomPair CB 40C CB 163D FLAT_HARMONIC 15.0 1 15.0
AtomPair CB 33C CB 306D FLAT_HARMONIC 15.0 1 15.0
AtomPair CB 40C CB 166D FLAT_HARMONIC 15.0 1 15.0
AtomPair CB 40C CB 158D FLAT_HARMONIC 15.0 1 15.0
