# cst constraint descriptor for carbamate design on ZN protease
# Alex Zanghellini, UW 07

# constraint file for ASN H-bonding

CST::BEGIN

  TEMPLATE::   ATOM_MAP: 1 atom_name: H1 N1 C8
  TEMPLATE::   ATOM_MAP: 1 residue3: X00

  TEMPLATE::   ATOM_MAP: 2 atom_type: ONH2,
  TEMPLATE::   ATOM_MAP: 2 residue1: NQ

  CONSTRAINT:: distanceAB:   1.80  0.20  100.  0
  CONSTRAINT::    angle_A:   180.  10.0   10  360.
  CONSTRAINT::    angle_B:   120.  10.0   10  360.
  CONSTRAINT::  torsion_A:     0.    0.  0.0  360.
  CONSTRAINT:: torsion_AB:     0.    0.  0.0  360.
  CONSTRAINT::  torsion_B:   180.  20.0   10  360.


CST::END


# TYR H-bonding to carbonyl on N,N-dimethyl acrylamide

CST::BEGIN

  TEMPLATE::   ATOM_MAP: 1 atom_name: O3 C7 C4
  TEMPLATE::   ATOM_MAP: 1 residue3: X00

  TEMPLATE::   ATOM_MAP: 2 atom_type: OH  ,
  TEMPLATE::   ATOM_MAP: 2 residue1: YST

  CONSTRAINT:: distanceAB:   2.80  0.20  100   0
  CONSTRAINT::    angle_A:   120.  10.0   10  360.
  CONSTRAINT::    angle_B:  109.5  10.0   10  360.
  CONSTRAINT::  torsion_A:     0.  40.0   10  180.
  CONSTRAINT:: torsion_AB:     0.    0.    0  180.
  CONSTRAINT::  torsion_B:     0.    0.    0  180.

CST::END

# constraint file for ASN H-bonding

CST::BEGIN

  TEMPLATE::   ATOM_MAP: 1 atom_name: O3 C7 C4
  TEMPLATE::   ATOM_MAP: 1 residue3: X00

  TEMPLATE::   ATOM_MAP: 2 atom_type: NH2O,
  TEMPLATE::   ATOM_MAP: 2 residue1: NQ

  CONSTRAINT:: distanceAB:   2.90  0.40  100.  0
  CONSTRAINT::    angle_A:     0.    0.    0  360.
  CONSTRAINT::    angle_B:     0.    0.    0  360.
  CONSTRAINT::  torsion_A:     0.    0.    0  360.
  CONSTRAINT:: torsion_AB:     0.    0.    0  360.
  CONSTRAINT::  torsion_B:     0.    0.    0  360.


CST::END


