AtomPair    CB 122  CB 244  SPLINE  EPR_DISTANCE     41.1518 1.0  0.5
AtomPair    CB  64  CB 174  SPLINE  EPR_DISTANCE       37.11 1.0  0.5
AtomPair    CB  25  CB  67  SPLINE  EPR_DISTANCE     30.6211 1.0  0.5
AtomPair    CB 123  CB 255  SPLINE  EPR_DISTANCE     37.3716 1.0  0.5
AtomPair    CB 108  CB 265  SPLINE  EPR_DISTANCE     35.4349 1.0  0.5
AtomPair    CB 118  CB 184  SPLINE  EPR_DISTANCE     32.6701 1.0  0.5
AtomPair    CB 174  CB 230  SPLINE  EPR_DISTANCE     22.8032 1.0  0.5
AtomPair    CB 217  CB 258  SPLINE  EPR_DISTANCE     45.3227 1.0  0.5
AtomPair    CB  49  CB 188  SPLINE  EPR_DISTANCE     31.6922 1.0  0.5
AtomPair    CB  17  CB 101  SPLINE  EPR_DISTANCE     37.6006 1.0  0.5
AtomPair    CB  64  CB 276  SPLINE  EPR_DISTANCE     36.1449 1.0  0.5
AtomPair    CB 106  CB 186  SPLINE  EPR_DISTANCE     24.5129 1.0  0.5
AtomPair    CB 174  CB 224  SPLINE  EPR_DISTANCE     29.3442 1.0  0.5
AtomPair    CB   4  CB 106  SPLINE  EPR_DISTANCE     54.1271 1.0  0.5
AtomPair    CB 184  CB 269  SPLINE  EPR_DISTANCE     12.0264 1.0  0.5
AtomPair    CB  56  CB 140  SPLINE  EPR_DISTANCE     19.6863 1.0  0.5
AtomPair    CB 120  CB 184  SPLINE  EPR_DISTANCE     21.6113 1.0  0.5
AtomPair    CB  10  CB 262  SPLINE  EPR_DISTANCE     16.5398 1.0  0.5
AtomPair    CB   3  CB 177  SPLINE  EPR_DISTANCE     39.2571 1.0  0.5
AtomPair    CB  37  CB 197  SPLINE  EPR_DISTANCE     30.7548 1.0  0.5
AtomPair    CB  75  CB 126  SPLINE  EPR_DISTANCE     28.4815 1.0  0.5
AtomPair    CB 105  CB 237  SPLINE  EPR_DISTANCE     39.5335 1.0  0.5
AtomPair    CB  67  CB 118  SPLINE  EPR_DISTANCE     44.0271 1.0  0.5
AtomPair    CB  25  CB 210  SPLINE  EPR_DISTANCE     35.4596 1.0  0.5
AtomPair    CB  21  CB 123  SPLINE  EPR_DISTANCE     35.0533 1.0  0.5
AtomPair    CB  13  CB 180  SPLINE  EPR_DISTANCE     18.7661 1.0  0.5
AtomPair    CB  36  CB 255  SPLINE  EPR_DISTANCE      46.158 1.0  0.5
AtomPair    CB 138  CB 246  SPLINE  EPR_DISTANCE     20.3987 1.0  0.5
AtomPair   2HA 192  CB 278  SPLINE  EPR_DISTANCE     32.6423 1.0  0.5
AtomPair    CB  24  CB 255  SPLINE  EPR_DISTANCE     35.4035 1.0  0.5
AtomPair    CB  75  CB 186  SPLINE  EPR_DISTANCE     34.7963 1.0  0.5
AtomPair    CB 118  CB 241  SPLINE  EPR_DISTANCE     31.2077 1.0  0.5
AtomPair    CB  60  CB 258  SPLINE  EPR_DISTANCE     19.7799 1.0  0.5
AtomPair    CB  14  CB 129  SPLINE  EPR_DISTANCE     23.4531 1.0  0.5
AtomPair    CB 185  CB 272  SPLINE  EPR_DISTANCE     32.7026 1.0  0.5
AtomPair    CB 212  CB 272  SPLINE  EPR_DISTANCE     26.3819 1.0  0.5
AtomPair    CB   6  CB  60  SPLINE  EPR_DISTANCE     17.6287 1.0  0.5
AtomPair    CB 106  CB 254  SPLINE  EPR_DISTANCE     37.2124 1.0  0.5
AtomPair    CB 106  CB 237  SPLINE  EPR_DISTANCE     32.8627 1.0  0.5
AtomPair    CB 127  CB 262  SPLINE  EPR_DISTANCE     29.4407 1.0  0.5
AtomPair    CB  10  CB 244  SPLINE  EPR_DISTANCE      35.311 1.0  0.5
