AtomPair    CB  14  CB  75  SPLINE  EPR_DISTANCE     30.3802 1.0  0.5
AtomPair    CB  56  CB 212  SPLINE  EPR_DISTANCE     33.4881 1.0  0.5
AtomPair    CB  67  CB 101  SPLINE  EPR_DISTANCE     50.9459 1.0  0.5
AtomPair    CB  32  CB  60  SPLINE  EPR_DISTANCE     30.0095 1.0  0.5
AtomPair    CB 105  CB 169  SPLINE  EPR_DISTANCE     33.6483 1.0  0.5
AtomPair    CB  25  CB 220  SPLINE  EPR_DISTANCE     20.0926 1.0  0.5
AtomPair    CB 134  CB 214  SPLINE  EPR_DISTANCE     38.3962 1.0  0.5
AtomPair    CB  18  CB 123  SPLINE  EPR_DISTANCE      37.636 1.0  0.5
AtomPair    CB 169 2HA 238  SPLINE  EPR_DISTANCE     23.4332 1.0  0.5
AtomPair    CB  76  CB 134  SPLINE  EPR_DISTANCE     18.7753 1.0  0.5
AtomPair    CB  49  CB 227  SPLINE  EPR_DISTANCE     33.5508 1.0  0.5
AtomPair    CB  24  CB 255  SPLINE  EPR_DISTANCE     42.4035 1.0  0.5
AtomPair    CB  25  CB 245  SPLINE  EPR_DISTANCE     46.8006 1.0  0.5
AtomPair    CB  76  CB 140  SPLINE  EPR_DISTANCE     15.0739 1.0  0.5
AtomPair    CB  13  CB 188  SPLINE  EPR_DISTANCE      31.888 1.0  0.5
AtomPair    CB  32  CB 182  SPLINE  EPR_DISTANCE     38.3207 1.0  0.5
AtomPair    CB 101  CB 265  SPLINE  EPR_DISTANCE     32.6597 1.0  0.5
AtomPair    CB 137  CB 272  SPLINE  EPR_DISTANCE     27.3233 1.0  0.5
AtomPair    CB  33 2HA 252  SPLINE  EPR_DISTANCE     49.6123 1.0  0.5
AtomPair    CB  13  CB 262  SPLINE  EPR_DISTANCE     15.0984 1.0  0.5
AtomPair    CB   2  CB  49  SPLINE  EPR_DISTANCE     31.9863 1.0  0.5
AtomPair    CB  67  CB 191  SPLINE  EPR_DISTANCE     48.3969 1.0  0.5
AtomPair    CB  68 2HA 192  SPLINE  EPR_DISTANCE     50.8931 1.0  0.5
AtomPair    CB   6  CB  75  SPLINE  EPR_DISTANCE      28.624 1.0  0.5
AtomPair    CB 129  CB 254  SPLINE  EPR_DISTANCE     39.5538 1.0  0.5
AtomPair    CB 189  CB 242  SPLINE  EPR_DISTANCE     28.0906 1.0  0.5
AtomPair    CB  64  CB 249  SPLINE  EPR_DISTANCE     33.3371 1.0  0.5
AtomPair    CB 123  CB 184  SPLINE  EPR_DISTANCE     29.8976 1.0  0.5
AtomPair    CB  37  CB 235  SPLINE  EPR_DISTANCE     39.3282 1.0  0.5
AtomPair    CB  17  CB 122  SPLINE  EPR_DISTANCE      30.106 1.0  0.5
AtomPair    CB 101  CB 174  SPLINE  EPR_DISTANCE     19.1912 1.0  0.5
AtomPair    CB  38  CB 227  SPLINE  EPR_DISTANCE     17.3247 1.0  0.5
AtomPair    CB 140  CB 191  SPLINE  EPR_DISTANCE     33.6824 1.0  0.5
AtomPair    CB  11 2HA 248  SPLINE  EPR_DISTANCE     38.8998 1.0  0.5
AtomPair    CB 234  CB 253  SPLINE  EPR_DISTANCE     24.7751 1.0  0.5
AtomPair    CB  20  CB 197  SPLINE  EPR_DISTANCE     46.0812 1.0  0.5
AtomPair    CB 137  CB 227  SPLINE  EPR_DISTANCE       25.83 1.0  0.5
AtomPair    CB 101  CB 235  SPLINE  EPR_DISTANCE     21.5974 1.0  0.5
AtomPair    CB  37  CB 206  SPLINE  EPR_DISTANCE      28.455 1.0  0.5
AtomPair    CB 105  CB 272  SPLINE  EPR_DISTANCE     31.6396 1.0  0.5
AtomPair    CB  75  CB 241  SPLINE  EPR_DISTANCE     33.5825 1.0  0.5
