AtomPair    CB   7  CB 180  SPLINE  EPR_DISTANCE     28.1904 1.0  0.5
AtomPair    CB 244  CB 262  SPLINE  EPR_DISTANCE     25.5092 1.0  0.5
AtomPair    CB  25  CB  64  SPLINE  EPR_DISTANCE     28.0695 1.0  0.5
AtomPair    CB 191  CB 269  SPLINE  EPR_DISTANCE     28.2935 1.0  0.5
AtomPair    CB   7  CB 254  SPLINE  EPR_DISTANCE     15.6057 1.0  0.5
AtomPair    CB  64  CB 188  SPLINE  EPR_DISTANCE     30.3814 1.0  0.5
AtomPair    CB 101  CB 253  SPLINE  EPR_DISTANCE     44.2418 1.0  0.5
AtomPair    CB  67  CB 105  SPLINE  EPR_DISTANCE     45.7933 1.0  0.5
AtomPair    CB  56  CB 185  SPLINE  EPR_DISTANCE     37.3009 1.0  0.5
AtomPair    CB  76  CB 253  SPLINE  EPR_DISTANCE     25.1154 1.0  0.5
AtomPair    CB  29  CB 129  SPLINE  EPR_DISTANCE     28.1582 1.0  0.5
AtomPair    CB  11  CB 250  SPLINE  EPR_DISTANCE     16.3943 1.0  0.5
AtomPair    CB 101  CB 212  SPLINE  EPR_DISTANCE     18.4991 1.0  0.5
AtomPair    CB  75  CB 185  SPLINE  EPR_DISTANCE     37.8367 1.0  0.5
AtomPair    CB  56  CB 210  SPLINE  EPR_DISTANCE     51.2369 1.0  0.5
AtomPair    CB 140  CB 176  SPLINE  EPR_DISTANCE     23.4282 1.0  0.5
AtomPair    CB 118  CB 262  SPLINE  EPR_DISTANCE     28.9366 1.0  0.5
AtomPair    CB  76  CB 230  SPLINE  EPR_DISTANCE      29.969 1.0  0.5
AtomPair    CB  24  CB 140  SPLINE  EPR_DISTANCE      29.284 1.0  0.5
AtomPair    CB  68  CB 214  SPLINE  EPR_DISTANCE     61.1352 1.0  0.5
AtomPair    CB 237  CB 258  SPLINE  EPR_DISTANCE     18.1327 1.0  0.5
AtomPair    CB  18 2HA 238  SPLINE  EPR_DISTANCE     23.2535 1.0  0.5
AtomPair    CB   2  CB 231  SPLINE  EPR_DISTANCE     23.3389 1.0  0.5
AtomPair    CB 129  CB 212  SPLINE  EPR_DISTANCE     34.6606 1.0  0.5
AtomPair    CB  38  CB 230  SPLINE  EPR_DISTANCE     21.6413 1.0  0.5
AtomPair    CB 106  CB 185  SPLINE  EPR_DISTANCE     31.9596 1.0  0.5
AtomPair    CB  68  CB 253  SPLINE  EPR_DISTANCE     14.2178 1.0  0.5
AtomPair    CB 182  CB 265  SPLINE  EPR_DISTANCE      22.665 1.0  0.5
AtomPair    CB 106  CB 127  SPLINE  EPR_DISTANCE     23.5331 1.0  0.5
AtomPair    CB  60  CB 129  SPLINE  EPR_DISTANCE     19.8738 1.0  0.5
AtomPair    CB 184  CB 242  SPLINE  EPR_DISTANCE     20.7564 1.0  0.5
AtomPair    CB  31 2HA 248  SPLINE  EPR_DISTANCE     52.2865 1.0  0.5
AtomPair    CB   7  CB  68  SPLINE  EPR_DISTANCE     23.0344 1.0  0.5
AtomPair    CB 122  CB 255  SPLINE  EPR_DISTANCE     31.2708 1.0  0.5
AtomPair    CB  29  CB 195  SPLINE  EPR_DISTANCE     31.9657 1.0  0.5
AtomPair    CB  68  CB 254  SPLINE  EPR_DISTANCE     21.8376 1.0  0.5
AtomPair    CB  31  CB 253  SPLINE  EPR_DISTANCE     40.1877 1.0  0.5
AtomPair    CB   3  CB 176  SPLINE  EPR_DISTANCE     38.5794 1.0  0.5
AtomPair    CB 129  CB 173  SPLINE  EPR_DISTANCE     21.1689 1.0  0.5
AtomPair    CB 184  CB 224  SPLINE  EPR_DISTANCE     15.6067 1.0  0.5
