AtomPair    CB  76  CB 265  SPLINE  EPR_DISTANCE     25.8587 1.0  0.5
AtomPair    CB  67  CB 193  SPLINE  EPR_DISTANCE     50.0407 1.0  0.5
AtomPair    CB   7  CB 140  SPLINE  EPR_DISTANCE     30.9397 1.0  0.5
AtomPair    CB   2  CB 242  SPLINE  EPR_DISTANCE     30.9585 1.0  0.5
AtomPair    CB  56  CB 210  SPLINE  EPR_DISTANCE     50.2369 1.0  0.5
AtomPair    CB  11  CB 276  SPLINE  EPR_DISTANCE     13.7774 1.0  0.5
AtomPair    CB   7  CB 182  SPLINE  EPR_DISTANCE     40.9218 1.0  0.5
AtomPair    CB 101  CB 214  SPLINE  EPR_DISTANCE     27.5244 1.0  0.5
AtomPair    CB 138  CB 275  SPLINE  EPR_DISTANCE     30.4772 1.0  0.5
AtomPair    CB  67  CB 272  SPLINE  EPR_DISTANCE     32.4988 1.0  0.5
