AtomPair    CB 126  CB 277  SPLINE  EPR_DISTANCE     30.6353 1.0  0.5
AtomPair    CB  67  CB 178  SPLINE  EPR_DISTANCE     42.0736 1.0  0.5
AtomPair    CB  29  CB  75  SPLINE  EPR_DISTANCE     41.7972 1.0  0.5
AtomPair    CB 127  CB 277  SPLINE  EPR_DISTANCE     20.9591 1.0  0.5
AtomPair    CB 108  CB 255  SPLINE  EPR_DISTANCE      45.642 1.0  0.5
AtomPair    CB 110  CB 276  SPLINE  EPR_DISTANCE      34.843 1.0  0.5
AtomPair    CB 170  CB 253  SPLINE  EPR_DISTANCE     28.8629 1.0  0.5
AtomPair    CB 217  CB 254  SPLINE  EPR_DISTANCE     51.6855 1.0  0.5
AtomPair    CB  49  CB 170  SPLINE  EPR_DISTANCE     35.9532 1.0  0.5
AtomPair    CB  21  CB 137  SPLINE  EPR_DISTANCE     31.3637 1.0  0.5
AtomPair    CB  67  CB 245  SPLINE  EPR_DISTANCE     37.5298 1.0  0.5
AtomPair    CB  76  CB 173  SPLINE  EPR_DISTANCE     35.1939 1.0  0.5
AtomPair    CB 140 2HA 238  SPLINE  EPR_DISTANCE     24.5238 1.0  0.5
AtomPair    CB   2  CB  56  SPLINE  EPR_DISTANCE     33.5957 1.0  0.5
AtomPair    CB 170  CB 262  SPLINE  EPR_DISTANCE     21.7526 1.0  0.5
AtomPair    CB  56  CB 253  SPLINE  EPR_DISTANCE     28.6336 1.0  0.5
AtomPair    CB 119  CB 177  SPLINE  EPR_DISTANCE     29.1295 1.0  0.5
AtomPair    CB  13  CB 277  SPLINE  EPR_DISTANCE     29.7111 1.0  0.5
AtomPair    CB   1  CB 199  SPLINE  EPR_DISTANCE     48.7756 1.0  0.5
AtomPair    CB  32  CB 235  SPLINE  EPR_DISTANCE     42.3835 1.0  0.5
AtomPair   2HA  74  CB 272  SPLINE  EPR_DISTANCE     32.5561 1.0  0.5
AtomPair    CB  75  CB 276  SPLINE  EPR_DISTANCE     50.9011 1.0  0.5
AtomPair    CB  73 2HA 248  SPLINE  EPR_DISTANCE     28.7452 1.0  0.5
AtomPair    CB  32  CB 122  SPLINE  EPR_DISTANCE     25.7927 1.0  0.5
AtomPair    CB  25  CB 210  SPLINE  EPR_DISTANCE     33.4596 1.0  0.5
AtomPair    CB  20  CB 199  SPLINE  EPR_DISTANCE     25.8636 1.0  0.5
AtomPair    CB  32  CB 193  SPLINE  EPR_DISTANCE     38.6907 1.0  0.5
AtomPair    CB 133  CB 178  SPLINE  EPR_DISTANCE     9.24991 1.0  0.5
AtomPair    CB 189  CB 235  SPLINE  EPR_DISTANCE     31.7395 1.0  0.5
AtomPair    CB  28  CB 101  SPLINE  EPR_DISTANCE     28.8271 1.0  0.5
AtomPair    CB  75  CB 237  SPLINE  EPR_DISTANCE     23.9562 1.0  0.5
AtomPair    CB 113  CB 276  SPLINE  EPR_DISTANCE     26.4732 1.0  0.5
AtomPair    CB  56  CB 275  SPLINE  EPR_DISTANCE     19.5504 1.0  0.5
AtomPair    CB  20  CB 246  SPLINE  EPR_DISTANCE     32.6701 1.0  0.5
AtomPair    CB 184  CB 234  SPLINE  EPR_DISTANCE     15.9192 1.0  0.5
AtomPair    CB 211  CB 265  SPLINE  EPR_DISTANCE     34.0918 1.0  0.5
AtomPair    CB   6  CB 174  SPLINE  EPR_DISTANCE      37.151 1.0  0.5
AtomPair    CB 108  CB 191  SPLINE  EPR_DISTANCE     3.82751 1.0  0.5
AtomPair    CB 106  CB 217  SPLINE  EPR_DISTANCE     15.3019 1.0  0.5
AtomPair    CB 130  CB 242  SPLINE  EPR_DISTANCE     31.2345 1.0  0.5
AtomPair    CB   7  CB 277  SPLINE  EPR_DISTANCE     35.9472 1.0  0.5
