AtomPair    CB   7  CB 211  SPLINE  EPR_DISTANCE     52.1702 1.0  0.5
AtomPair    CB  68  CB 138  SPLINE  EPR_DISTANCE     20.9441 1.0  0.5
AtomPair    CB  73 2HA 248  SPLINE  EPR_DISTANCE     36.2452 1.0  0.5
AtomPair    CB  33  CB 245  SPLINE  EPR_DISTANCE      51.122 1.0  0.5
AtomPair    CB 122  CB 242  SPLINE  EPR_DISTANCE     34.3596 1.0  0.5
AtomPair    CB  21  CB 122  SPLINE  EPR_DISTANCE     23.5035 1.0  0.5
AtomPair    CB 130  CB 186  SPLINE  EPR_DISTANCE     19.6052 1.0  0.5
AtomPair    CB  18  CB 230  SPLINE  EPR_DISTANCE     28.0578 1.0  0.5
AtomPair    CB 188  CB 227  SPLINE  EPR_DISTANCE     17.1499 1.0  0.5
AtomPair    CB 106  CB 244  SPLINE  EPR_DISTANCE      34.966 1.0  0.5
AtomPair    CB  60  CB 234  SPLINE  EPR_DISTANCE     37.2779 1.0  0.5
AtomPair    CB  20  CB 277  SPLINE  EPR_DISTANCE     30.2473 1.0  0.5
AtomPair    CB  33  CB 231  SPLINE  EPR_DISTANCE     35.1581 1.0  0.5
AtomPair    CB 106  CB 255  SPLINE  EPR_DISTANCE     47.2877 1.0  0.5
AtomPair    CB   7  CB 127  SPLINE  EPR_DISTANCE      33.441 1.0  0.5
AtomPair    CB  34  CB 193  SPLINE  EPR_DISTANCE      34.544 1.0  0.5
AtomPair    CB 119  CB 217  SPLINE  EPR_DISTANCE      31.003 1.0  0.5
AtomPair    CB 176  CB 272  SPLINE  EPR_DISTANCE     26.8578 1.0  0.5
AtomPair    CB  49  CB 177  SPLINE  EPR_DISTANCE     27.8092 1.0  0.5
AtomPair    CB   7  CB 165  SPLINE  EPR_DISTANCE     34.3035 1.0  0.5
AtomPair    CB   1  CB 202  SPLINE  EPR_DISTANCE     44.3481 1.0  0.5
AtomPair    CB  75  CB 237  SPLINE  EPR_DISTANCE     29.9562 1.0  0.5
AtomPair    CB 105  CB 173  SPLINE  EPR_DISTANCE     34.1383 1.0  0.5
AtomPair    CB   1  CB 272  SPLINE  EPR_DISTANCE     35.8074 1.0  0.5
AtomPair    CB 129  CB 278  SPLINE  EPR_DISTANCE     29.2346 1.0  0.5
AtomPair    CB 227  CB 277  SPLINE  EPR_DISTANCE     13.6239 1.0  0.5
AtomPair    CB  68  CB 184  SPLINE  EPR_DISTANCE     39.5644 1.0  0.5
AtomPair    CB 127  CB 181  SPLINE  EPR_DISTANCE     26.7496 1.0  0.5
AtomPair    CB  56  CB 275  SPLINE  EPR_DISTANCE     25.0504 1.0  0.5
AtomPair    CB  11  CB 170  SPLINE  EPR_DISTANCE     32.6547 1.0  0.5
AtomPair    CB 108  CB 123  SPLINE  EPR_DISTANCE     16.0764 1.0  0.5
AtomPair    CB  60  CB 210  SPLINE  EPR_DISTANCE     40.6333 1.0  0.5
AtomPair    CB 177  CB 237  SPLINE  EPR_DISTANCE     12.2182 1.0  0.5
AtomPair    CB   6  CB 277  SPLINE  EPR_DISTANCE     44.8197 1.0  0.5
AtomPair    CB 234  CB 277  SPLINE  EPR_DISTANCE     25.2202 1.0  0.5
AtomPair    CB  20  CB 191  SPLINE  EPR_DISTANCE     39.9846 1.0  0.5
AtomPair    CB 170  CB 258  SPLINE  EPR_DISTANCE      25.222 1.0  0.5
AtomPair    CB 118  CB 276  SPLINE  EPR_DISTANCE     19.9739 1.0  0.5
AtomPair    CB  49  CB 258  SPLINE  EPR_DISTANCE     32.0384 1.0  0.5
AtomPair    CB 126  CB 277  SPLINE  EPR_DISTANCE     30.6353 1.0  0.5
AtomPair    CB 105  CB 193  SPLINE  EPR_DISTANCE     19.8004 1.0  0.5
