AtomPair    CB  10  CB 224  SPLINE  EPR_DISTANCE     31.9296 1.0  0.5
AtomPair    CB  64  CB 188  SPLINE  EPR_DISTANCE     30.8814 1.0  0.5
AtomPair    CB  68  CB 181  SPLINE  EPR_DISTANCE     45.6269 1.0  0.5
AtomPair    CB  32  CB 126  SPLINE  EPR_DISTANCE     26.0455 1.0  0.5
AtomPair    CB 119  CB 235  SPLINE  EPR_DISTANCE     33.1009 1.0  0.5
AtomPair    CB  18  CB 182  SPLINE  EPR_DISTANCE     28.8742 1.0  0.5
AtomPair    CB 134  CB 244  SPLINE  EPR_DISTANCE     23.3273 1.0  0.5
AtomPair    CB  13  CB 262  SPLINE  EPR_DISTANCE     22.5984 1.0  0.5
AtomPair    CB 180  CB 276  SPLINE  EPR_DISTANCE      32.468 1.0  0.5
AtomPair    CB 106  CB 118  SPLINE  EPR_DISTANCE     11.9985 1.0  0.5
AtomPair    CB  60  CB 244  SPLINE  EPR_DISTANCE     39.0805 1.0  0.5
AtomPair    CB  17  CB 276  SPLINE  EPR_DISTANCE     28.0613 1.0  0.5
AtomPair    CB  28  CB  49  SPLINE  EPR_DISTANCE      16.907 1.0  0.5
AtomPair    CB 106  CB 120  SPLINE  EPR_DISTANCE     16.4012 1.0  0.5
AtomPair    CB   6  CB 101  SPLINE  EPR_DISTANCE     39.8068 1.0  0.5
AtomPair    CB  33  CB 269  SPLINE  EPR_DISTANCE     24.1219 1.0  0.5
AtomPair    CB 108  CB 235  SPLINE  EPR_DISTANCE     38.8281 1.0  0.5
AtomPair    CB 169  CB 255  SPLINE  EPR_DISTANCE     19.1075 1.0  0.5
AtomPair    CB  36  CB 276  SPLINE  EPR_DISTANCE     17.3305 1.0  0.5
AtomPair    CB  10  CB 127  SPLINE  EPR_DISTANCE     36.3911 1.0  0.5
AtomPair    CB   2  CB 173  SPLINE  EPR_DISTANCE     33.8715 1.0  0.5
AtomPair    CB  76  CB 181  SPLINE  EPR_DISTANCE     37.6019 1.0  0.5
AtomPair    CB  76  CB 265  SPLINE  EPR_DISTANCE     27.8587 1.0  0.5
AtomPair    CB   4  CB  49  SPLINE  EPR_DISTANCE     36.6103 1.0  0.5
AtomPair    CB 123  CB 182  SPLINE  EPR_DISTANCE     25.0756 1.0  0.5
AtomPair    CB 193  CB 241  SPLINE  EPR_DISTANCE     29.8343 1.0  0.5
AtomPair    CB  64  CB 272  SPLINE  EPR_DISTANCE     28.5515 1.0  0.5
AtomPair    CB 120  CB 174  SPLINE  EPR_DISTANCE     36.3072 1.0  0.5
AtomPair    CB  56  CB 253  SPLINE  EPR_DISTANCE     30.6336 1.0  0.5
AtomPair    CB  11  CB 231  SPLINE  EPR_DISTANCE     16.4201 1.0  0.5
AtomPair    CB 108  CB 189  SPLINE  EPR_DISTANCE     8.12522 1.0  0.5
AtomPair    CB  60  CB 140  SPLINE  EPR_DISTANCE     13.4911 1.0  0.5
AtomPair    CB 180  CB 227  SPLINE  EPR_DISTANCE     16.1807 1.0  0.5
AtomPair    CB   6  CB  76  SPLINE  EPR_DISTANCE      33.749 1.0  0.5
AtomPair    CB 227  CB 262  SPLINE  EPR_DISTANCE     18.9081 1.0  0.5
AtomPair    CB  17  CB 202  SPLINE  EPR_DISTANCE     41.5597 1.0  0.5
AtomPair    CB 138  CB 276  SPLINE  EPR_DISTANCE     32.9129 1.0  0.5
AtomPair    CB 108  CB 230  SPLINE  EPR_DISTANCE     17.6082 1.0  0.5
AtomPair    CB  49  CB 223  SPLINE  EPR_DISTANCE     27.3511 1.0  0.5
AtomPair    CB 119  CB 254  SPLINE  EPR_DISTANCE     52.8688 1.0  0.5
AtomPair    CB 105  CB 275  SPLINE  EPR_DISTANCE      34.285 1.0  0.5
