AtomPair    CB  10  CB 251  SPLINE  EPR_DISTANCE     28.1153 1.0  0.5
AtomPair    CB  68  CB 138  SPLINE  EPR_DISTANCE     20.9441 1.0  0.5
AtomPair    CB  68  CB 185  SPLINE  EPR_DISTANCE     50.2117 1.0  0.5
AtomPair    CB  32  CB 101  SPLINE  EPR_DISTANCE     30.9213 1.0  0.5
AtomPair    CB 126  CB 244  SPLINE  EPR_DISTANCE      26.656 1.0  0.5
AtomPair    CB  25  CB  49  SPLINE  EPR_DISTANCE     10.0476 1.0  0.5
AtomPair    CB 138  CB 223  SPLINE  EPR_DISTANCE     34.7739 1.0  0.5
AtomPair    CB  13  CB 169  SPLINE  EPR_DISTANCE     42.8548 1.0  0.5
AtomPair    CB 189  CB 254  SPLINE  EPR_DISTANCE      41.441 1.0  0.5
AtomPair    CB  76  CB 134  SPLINE  EPR_DISTANCE     18.7753 1.0  0.5
AtomPair    CB  68  CB 130  SPLINE  EPR_DISTANCE     45.9987 1.0  0.5
AtomPair    CB  20  CB 253  SPLINE  EPR_DISTANCE     36.9474 1.0  0.5
AtomPair    CB  32  CB  67  SPLINE  EPR_DISTANCE     41.0803 1.0  0.5
AtomPair    CB 105  CB 227  SPLINE  EPR_DISTANCE     26.4704 1.0  0.5
AtomPair    CB   6  CB 173  SPLINE  EPR_DISTANCE     32.8596 1.0  0.5
AtomPair    CB  37  CB 217  SPLINE  EPR_DISTANCE      19.332 1.0  0.5
AtomPair    CB 120  CB 176  SPLINE  EPR_DISTANCE     35.8171 1.0  0.5
AtomPair    CB 181  CB 227  SPLINE  EPR_DISTANCE      16.826 1.0  0.5
AtomPair    CB  37  CB 277  SPLINE  EPR_DISTANCE     19.5146 1.0  0.5
AtomPair    CB   6  CB 245  SPLINE  EPR_DISTANCE     32.1418 1.0  0.5
AtomPair    CB   2  CB 242  SPLINE  EPR_DISTANCE     23.9585 1.0  0.5
AtomPair    CB  68  CB 278  SPLINE  EPR_DISTANCE     46.5896 1.0  0.5
AtomPair    CB  75  CB 217  SPLINE  EPR_DISTANCE     48.6249 1.0  0.5
AtomPair    CB   2  CB 246  SPLINE  EPR_DISTANCE     33.0972 1.0  0.5
AtomPair    CB 137  CB 269  SPLINE  EPR_DISTANCE     30.6687 1.0  0.5
AtomPair    CB 224  CB 258  SPLINE  EPR_DISTANCE     25.2777 1.0  0.5
AtomPair    CB  68  CB 170  SPLINE  EPR_DISTANCE     36.2883 1.0  0.5
AtomPair    CB 134  CB 253  SPLINE  EPR_DISTANCE     38.9221 1.0  0.5
AtomPair    CB  64  CB 269  SPLINE  EPR_DISTANCE     27.3941 1.0  0.5
AtomPair    CB  11  CB 269  SPLINE  EPR_DISTANCE     14.0073 1.0  0.5
AtomPair    CB 105  CB 269  SPLINE  EPR_DISTANCE     21.8094 1.0  0.5
AtomPair    CB  64  CB 272  SPLINE  EPR_DISTANCE     21.5515 1.0  0.5
AtomPair    CB 184  CB 253  SPLINE  EPR_DISTANCE     28.8899 1.0  0.5
AtomPair    CB   4  CB 127  SPLINE  EPR_DISTANCE     49.7065 1.0  0.5
AtomPair    CB 234  CB 254  SPLINE  EPR_DISTANCE      21.906 1.0  0.5
AtomPair    CB  20  CB 138  SPLINE  EPR_DISTANCE     35.6134 1.0  0.5
AtomPair    CB 173  CB 234  SPLINE  EPR_DISTANCE     15.6427 1.0  0.5
AtomPair    CB 108  CB 133  SPLINE  EPR_DISTANCE     25.0405 1.0  0.5
AtomPair    CB  38  CB 275  SPLINE  EPR_DISTANCE     19.8044 1.0  0.5
AtomPair    CB 133  CB 174  SPLINE  EPR_DISTANCE     19.0622 1.0  0.5
AtomPair    CB  75  CB 277  SPLINE  EPR_DISTANCE     49.6643 1.0  0.5
