AtomPair    CB  31  CB 253  SPLINE  EPR_DISTANCE     39.6877 1.0  0.5
AtomPair    CB  68  CB 214  SPLINE  EPR_DISTANCE     38.6352 1.0  0.5
AtomPair    CB  18  CB  76  SPLINE  EPR_DISTANCE     26.4597 1.0  0.5
AtomPair    CB  76  CB 253  SPLINE  EPR_DISTANCE     29.1154 1.0  0.5
AtomPair    CB  76  CB 174  SPLINE  EPR_DISTANCE     19.3769 1.0  0.5
AtomPair    CB  75  CB 186  SPLINE  EPR_DISTANCE     34.2963 1.0  0.5
AtomPair    CB  32  CB 265  SPLINE  EPR_DISTANCE     27.8195 1.0  0.5
AtomPair    CB  10  CB  68  SPLINE  EPR_DISTANCE     19.9583 1.0  0.5
AtomPair    CB  29  CB  68  SPLINE  EPR_DISTANCE     29.3178 1.0  0.5
AtomPair    CB  64  CB 275  SPLINE  EPR_DISTANCE     37.4588 1.0  0.5
AtomPair    CB  10  CB 214  SPLINE  EPR_DISTANCE     35.8545 1.0  0.5
AtomPair    CB  21  CB 200  SPLINE  EPR_DISTANCE     34.6046 1.0  0.5
AtomPair    CB  49  CB 180  SPLINE  EPR_DISTANCE     29.1672 1.0  0.5
AtomPair    CB  60  CB 133  SPLINE  EPR_DISTANCE     20.8914 1.0  0.5
AtomPair    CB 129  CB 212  SPLINE  EPR_DISTANCE     32.1606 1.0  0.5
AtomPair    CB   2  CB 178  SPLINE  EPR_DISTANCE     42.6908 1.0  0.5
AtomPair    CB   1 2HA 248  SPLINE  EPR_DISTANCE     16.5552 1.0  0.5
AtomPair    CB 212  CB 277  SPLINE  EPR_DISTANCE     9.89882 1.0  0.5
AtomPair    CB 245  CB 277  SPLINE  EPR_DISTANCE     46.1886 1.0  0.5
AtomPair    CB 169  CB 237  SPLINE  EPR_DISTANCE     22.5848 1.0  0.5
AtomPair    CB 118  CB 177  SPLINE  EPR_DISTANCE     39.0881 1.0  0.5
AtomPair    CB  75  CB 242  SPLINE  EPR_DISTANCE     27.4991 1.0  0.5
AtomPair    CB 101  CB 269  SPLINE  EPR_DISTANCE     18.1641 1.0  0.5
AtomPair    CB  13  CB 140  SPLINE  EPR_DISTANCE     19.9479 1.0  0.5
AtomPair    CB   3  CB 242  SPLINE  EPR_DISTANCE     34.6507 1.0  0.5
AtomPair    CB 133  CB 224  SPLINE  EPR_DISTANCE      35.063 1.0  0.5
AtomPair    CB 170  CB 275  SPLINE  EPR_DISTANCE     43.7391 1.0  0.5
AtomPair    CB 182  CB 265  SPLINE  EPR_DISTANCE      22.665 1.0  0.5
AtomPair    CB   7  CB 180  SPLINE  EPR_DISTANCE     31.6904 1.0  0.5
AtomPair    CB 118  CB 262  SPLINE  EPR_DISTANCE     41.9366 1.0  0.5
AtomPair    CB 106  CB 127  SPLINE  EPR_DISTANCE     22.5331 1.0  0.5
AtomPair    CB  49  CB 193  SPLINE  EPR_DISTANCE     33.4832 1.0  0.5
AtomPair    CB 101  CB 212  SPLINE  EPR_DISTANCE     25.4991 1.0  0.5
AtomPair    CB  31  CB 120  SPLINE  EPR_DISTANCE      20.646 1.0  0.5
AtomPair    CB  56  CB 269  SPLINE  EPR_DISTANCE     18.5204 1.0  0.5
AtomPair    CB 130  CB 255  SPLINE  EPR_DISTANCE     35.6655 1.0  0.5
AtomPair    CB  21  CB 203  SPLINE  EPR_DISTANCE     44.9509 1.0  0.5
AtomPair    CB   7  CB 201  SPLINE  EPR_DISTANCE     46.3398 1.0  0.5
AtomPair    CB 174  CB 241  SPLINE  EPR_DISTANCE     11.9554 1.0  0.5
AtomPair    CB  56  CB 127  SPLINE  EPR_DISTANCE     27.0303 1.0  0.5
AtomPair    CB  56  CB 210  SPLINE  EPR_DISTANCE     42.7369 1.0  0.5
