AtomPair    CB 120  CB 258  SPLINE  EPR_DISTANCE     44.3266 1.0  0.5
AtomPair    CB  56  CB 123  SPLINE  EPR_DISTANCE     33.2871 1.0  0.5
AtomPair    CB  24  CB  75  SPLINE  EPR_DISTANCE     33.6049 1.0  0.5
AtomPair    CB 126  CB 180  SPLINE  EPR_DISTANCE     18.2726 1.0  0.5
AtomPair    CB 105  CB 177  SPLINE  EPR_DISTANCE     28.7499 1.0  0.5
AtomPair    CB 108  CB 134  SPLINE  EPR_DISTANCE     33.0603 1.0  0.5
AtomPair    CB 176  CB 245  SPLINE  EPR_DISTANCE     12.3852 1.0  0.5
AtomPair    CB 245  CB 269  SPLINE  EPR_DISTANCE     39.9012 1.0  0.5
AtomPair    CB  49  CB 188  SPLINE  EPR_DISTANCE     31.6922 1.0  0.5
AtomPair    CB  20  CB 123  SPLINE  EPR_DISTANCE     31.2874 1.0  0.5
AtomPair    CB  60  CB 101  SPLINE  EPR_DISTANCE     38.1426 1.0  0.5
AtomPair    CB  75  CB 276  SPLINE  EPR_DISTANCE     47.9011 1.0  0.5
AtomPair    CB 140 2HA 238  SPLINE  EPR_DISTANCE     24.5238 1.0  0.5
AtomPair    CB   2  CB 276  SPLINE  EPR_DISTANCE     44.4284 1.0  0.5
AtomPair    CB 181  CB 245  SPLINE  EPR_DISTANCE     8.49502 1.0  0.5
AtomPair    CB  49  CB 191  SPLINE  EPR_DISTANCE     28.0017 1.0  0.5
AtomPair    CB 119 2HA 192  SPLINE  EPR_DISTANCE     27.2972 1.0  0.5
AtomPair    CB  14  CB  60  SPLINE  EPR_DISTANCE     15.6775 1.0  0.5
AtomPair    CB   2 2HA 192  SPLINE  EPR_DISTANCE     48.7547 1.0  0.5
AtomPair    CB  49  CB 140  SPLINE  EPR_DISTANCE     25.6909 1.0  0.5
AtomPair    CB  64  CB 254  SPLINE  EPR_DISTANCE     19.3493 1.0  0.5
AtomPair    CB  75  CB 245  SPLINE  EPR_DISTANCE     36.9635 1.0  0.5
AtomPair    CB  64  CB 234  SPLINE  EPR_DISTANCE      29.413 1.0  0.5
AtomPair    CB  24  CB 227  SPLINE  EPR_DISTANCE     32.6271 1.0  0.5
AtomPair    CB  20  CB 140  SPLINE  EPR_DISTANCE     30.0726 1.0  0.5
AtomPair    CB  14  CB 101  SPLINE  EPR_DISTANCE     23.8565 1.0  0.5
AtomPair    CB  32  CB 278  SPLINE  EPR_DISTANCE      19.535 1.0  0.5
AtomPair    CB 137  CB 237  SPLINE  EPR_DISTANCE     16.3352 1.0  0.5
AtomPair    CB 188  CB 272  SPLINE  EPR_DISTANCE      31.708 1.0  0.5
AtomPair    CB  20  CB 245  SPLINE  EPR_DISTANCE     38.4389 1.0  0.5
AtomPair    CB  72  CB 278  SPLINE  EPR_DISTANCE     41.4661 1.0  0.5
AtomPair    CB 108  CB 277  SPLINE  EPR_DISTANCE     14.1114 1.0  0.5
AtomPair    CB  49  CB 231  SPLINE  EPR_DISTANCE     20.7733 1.0  0.5
AtomPair    CB  20  CB  49  SPLINE  EPR_DISTANCE      7.8313 1.0  0.5
AtomPair    CB 181  CB 265  SPLINE  EPR_DISTANCE     28.9113 1.0  0.5
AtomPair    CB 223  CB 272  SPLINE  EPR_DISTANCE     15.3333 1.0  0.5
AtomPair    CB   3  CB 184  SPLINE  EPR_DISTANCE     37.9015 1.0  0.5
AtomPair    CB 105  CB 118  SPLINE  EPR_DISTANCE     7.91441 1.0  0.5
AtomPair    CB  76  CB 184  SPLINE  EPR_DISTANCE     35.5813 1.0  0.5
AtomPair    CB 129  CB 277  SPLINE  EPR_DISTANCE     26.4808 1.0  0.5
AtomPair    CB   6  CB 272  SPLINE  EPR_DISTANCE     30.9674 1.0  0.5
