AtomPair    CB  24  CB 180  SPLINE  EPR_DISTANCE     33.5903 1.0  0.5
AtomPair    CB  67  CB 193  SPLINE  EPR_DISTANCE     47.0407 1.0  0.5
AtomPair    CB  76  CB 174  SPLINE  EPR_DISTANCE     21.8769 1.0  0.5
AtomPair    CB  11  CB 237  SPLINE  EPR_DISTANCE     19.9339 1.0  0.5
AtomPair    CB  75  CB 237  SPLINE  EPR_DISTANCE     26.4562 1.0  0.5
AtomPair    CB  32  CB 106  SPLINE  EPR_DISTANCE     15.3299 1.0  0.5
AtomPair    CB 120  CB 230  SPLINE  EPR_DISTANCE      30.382 1.0  0.5
AtomPair    CB 137  CB 265  SPLINE  EPR_DISTANCE     22.6245 1.0  0.5
AtomPair    CB 237  CB 272  SPLINE  EPR_DISTANCE      33.161 1.0  0.5
AtomPair    CB   4  CB 138  SPLINE  EPR_DISTANCE     25.3363 1.0  0.5
AtomPair    CB   4 2HA 248  SPLINE  EPR_DISTANCE     28.1322 1.0  0.5
AtomPair    CB  32  CB 276  SPLINE  EPR_DISTANCE     17.9434 1.0  0.5
AtomPair    CB 101  CB 253  SPLINE  EPR_DISTANCE     37.7418 1.0  0.5
AtomPair    CB 130  CB 188  SPLINE  EPR_DISTANCE     32.9583 1.0  0.5
AtomPair    CB  56  CB 269  SPLINE  EPR_DISTANCE     21.0204 1.0  0.5
AtomPair    CB  60  CB 133  SPLINE  EPR_DISTANCE     23.8914 1.0  0.5
AtomPair    CB 169  CB 237  SPLINE  EPR_DISTANCE     9.08477 1.0  0.5
AtomPair    CB 191  CB 269  SPLINE  EPR_DISTANCE     18.2935 1.0  0.5
AtomPair    CB  60  CB 227  SPLINE  EPR_DISTANCE     35.2619 1.0  0.5
AtomPair    CB   7  CB 201  SPLINE  EPR_DISTANCE     51.3398 1.0  0.5
