AtomPair    CB 191  CB 269  SPLINE  EPR_DISTANCE     27.7935 1.0  0.5
AtomPair    CB 111  CB 278  SPLINE  EPR_DISTANCE     29.2668 1.0  0.5
AtomPair    CB  20  CB 129  SPLINE  EPR_DISTANCE      19.425 1.0  0.5
AtomPair    CB   6  CB 265  SPLINE  EPR_DISTANCE     18.7523 1.0  0.5
AtomPair    CB  29  CB 195  SPLINE  EPR_DISTANCE     39.9657 1.0  0.5
AtomPair    CB 173 2HA 252  SPLINE  EPR_DISTANCE     26.4837 1.0  0.5
AtomPair    CB   6  CB 220  SPLINE  EPR_DISTANCE     38.4698 1.0  0.5
AtomPair    CB 134  CB 258  SPLINE  EPR_DISTANCE     27.3815 1.0  0.5
AtomPair    CB  28  CB 223  SPLINE  EPR_DISTANCE     36.6096 1.0  0.5
AtomPair    CB 112  CB 235  SPLINE  EPR_DISTANCE      42.588 1.0  0.5
AtomPair    CB 105  CB 169  SPLINE  EPR_DISTANCE     35.1483 1.0  0.5
AtomPair    CB 113  CB 276  SPLINE  EPR_DISTANCE     38.4732 1.0  0.5
AtomPair    CB 120  CB 276  SPLINE  EPR_DISTANCE     35.4734 1.0  0.5
AtomPair    CB  21  CB 276  SPLINE  EPR_DISTANCE     18.9947 1.0  0.5
AtomPair    CB 123  CB 185  SPLINE  EPR_DISTANCE     29.0741 1.0  0.5
AtomPair    CB 105  CB 230  SPLINE  EPR_DISTANCE     22.8512 1.0  0.5
AtomPair    CB  49  CB 174  SPLINE  EPR_DISTANCE     17.4505 1.0  0.5
AtomPair    CB 119  CB 188  SPLINE  EPR_DISTANCE     37.8738 1.0  0.5
AtomPair    CB  25  CB 244  SPLINE  EPR_DISTANCE     29.9211 1.0  0.5
AtomPair    CB 127  CB 193  SPLINE  EPR_DISTANCE     19.4291 1.0  0.5
AtomPair    CB 181  CB 230  SPLINE  EPR_DISTANCE     10.2814 1.0  0.5
AtomPair    CB  10  CB  68  SPLINE  EPR_DISTANCE     23.4583 1.0  0.5
AtomPair    CB 223  CB 276  SPLINE  EPR_DISTANCE     22.7308 1.0  0.5
AtomPair    CB  33  CB 181  SPLINE  EPR_DISTANCE     39.7337 1.0  0.5
AtomPair    CB  60  CB 133  SPLINE  EPR_DISTANCE     13.8914 1.0  0.5
AtomPair    CB  64  CB 119  SPLINE  EPR_DISTANCE     34.5778 1.0  0.5
AtomPair    CB  11  CB 253  SPLINE  EPR_DISTANCE     15.6389 1.0  0.5
AtomPair    CB 170  CB 253  SPLINE  EPR_DISTANCE     31.8629 1.0  0.5
AtomPair    CB  49  CB 277  SPLINE  EPR_DISTANCE     20.7786 1.0  0.5
AtomPair    CB  17  CB 186  SPLINE  EPR_DISTANCE     35.8008 1.0  0.5
AtomPair    CB 101  CB 212  SPLINE  EPR_DISTANCE     29.4991 1.0  0.5
AtomPair    CB 106  CB 242  SPLINE  EPR_DISTANCE     41.9346 1.0  0.5
AtomPair    CB  25  CB 250  SPLINE  EPR_DISTANCE     42.0449 1.0  0.5
AtomPair    CB   7  CB 178  SPLINE  EPR_DISTANCE     35.3093 1.0  0.5
AtomPair    CB  70 2HA 252  SPLINE  EPR_DISTANCE     8.67281 1.0  0.5
AtomPair    CB   4  CB 241  SPLINE  EPR_DISTANCE     23.9246 1.0  0.5
AtomPair    CB 182  CB 276  SPLINE  EPR_DISTANCE     27.0521 1.0  0.5
AtomPair    CB  21  CB 200  SPLINE  EPR_DISTANCE     35.6046 1.0  0.5
AtomPair    CB 120  CB 230  SPLINE  EPR_DISTANCE      18.882 1.0  0.5
AtomPair    CB 105  CB 231  SPLINE  EPR_DISTANCE     25.3745 1.0  0.5
AtomPair    CB   6  CB 129  SPLINE  EPR_DISTANCE     34.7184 1.0  0.5
AtomPair    CB 109  CB 254  SPLINE  EPR_DISTANCE     50.7231 1.0  0.5
AtomPair    CB  72  CB 255  SPLINE  EPR_DISTANCE     22.4833 1.0  0.5
AtomPair    CB 235  CB 269  SPLINE  EPR_DISTANCE     17.4822 1.0  0.5
AtomPair    CB   3  CB 176  SPLINE  EPR_DISTANCE     32.0794 1.0  0.5
AtomPair    CB  68  CB 253  SPLINE  EPR_DISTANCE     26.2178 1.0  0.5
AtomPair    CB 181  CB 212  SPLINE  EPR_DISTANCE     40.2996 1.0  0.5
AtomPair    CB 105  CB 224  SPLINE  EPR_DISTANCE     28.0052 1.0  0.5
AtomPair    CB  14  CB 199  SPLINE  EPR_DISTANCE     37.8102 1.0  0.5
AtomPair    CB 105  CB 133  SPLINE  EPR_DISTANCE     23.7224 1.0  0.5
AtomPair    CB  20  CB 209  SPLINE  EPR_DISTANCE      43.369 1.0  0.5
AtomPair    CB 186  CB 212  SPLINE  EPR_DISTANCE     26.8106 1.0  0.5
AtomPair    CB  33  CB 189  SPLINE  EPR_DISTANCE      40.059 1.0  0.5
AtomPair    CB  49  CB 212  SPLINE  EPR_DISTANCE     36.4301 1.0  0.5
AtomPair    CB 101  CB 275  SPLINE  EPR_DISTANCE     20.4379 1.0  0.5
AtomPair    CB 130  CB 174  SPLINE  EPR_DISTANCE     15.4881 1.0  0.5
AtomPair    CB 106  CB 245  SPLINE  EPR_DISTANCE     47.1374 1.0  0.5
AtomPair    CB  17 2HA 252  SPLINE  EPR_DISTANCE     31.5121 1.0  0.5
AtomPair   2HA  74  CB 254  SPLINE  EPR_DISTANCE     21.2251 1.0  0.5
AtomPair    CB 186  CB 237  SPLINE  EPR_DISTANCE      13.951 1.0  0.5
AtomPair    CB  67 2HA 192  SPLINE  EPR_DISTANCE     50.6142 1.0  0.5
AtomPair    CB  11  CB  49  SPLINE  EPR_DISTANCE     23.5468 1.0  0.5
AtomPair    CB  21  CB 134  SPLINE  EPR_DISTANCE     27.0485 1.0  0.5
AtomPair    CB 123  CB 242  SPLINE  EPR_DISTANCE     41.3456 1.0  0.5
AtomPair    CB 101  CB 180  SPLINE  EPR_DISTANCE     15.0181 1.0  0.5
AtomPair    CB  68  CB 217  SPLINE  EPR_DISTANCE     46.8348 1.0  0.5
AtomPair    CB 206  CB 220  SPLINE  EPR_DISTANCE     5.76909 1.0  0.5
AtomPair    CB  76  CB 253  SPLINE  EPR_DISTANCE     20.1154 1.0  0.5
AtomPair    CB  34  CB 272  SPLINE  EPR_DISTANCE     35.0645 1.0  0.5
AtomPair    CB  64  CB 180  SPLINE  EPR_DISTANCE     23.8541 1.0  0.5
AtomPair    CB   7  CB 244  SPLINE  EPR_DISTANCE     26.1661 1.0  0.5
AtomPair    CB  21 2HA 238  SPLINE  EPR_DISTANCE     30.4961 1.0  0.5
AtomPair    CB   3  CB 181  SPLINE  EPR_DISTANCE     40.9807 1.0  0.5
AtomPair    CB 108  CB 217  SPLINE  EPR_DISTANCE     7.70707 1.0  0.5
AtomPair    CB  37  CB 242  SPLINE  EPR_DISTANCE     41.9342 1.0  0.5
AtomPair    CB   4  CB 162  SPLINE  EPR_DISTANCE     33.3441 1.0  0.5
AtomPair    CB 231  CB 278  SPLINE  EPR_DISTANCE     17.2493 1.0  0.5
AtomPair    CB 174  CB 242  SPLINE  EPR_DISTANCE     20.5296 1.0  0.5
AtomPair    CB 241  CB 272  SPLINE  EPR_DISTANCE     30.3075 1.0  0.5
AtomPair    CB  13  CB  60  SPLINE  EPR_DISTANCE     10.8246 1.0  0.5
AtomPair    CB 178  CB 234  SPLINE  EPR_DISTANCE     27.6398 1.0  0.5
AtomPair    CB  28  CB 275  SPLINE  EPR_DISTANCE     21.1921 1.0  0.5
AtomPair    CB 193  CB 258  SPLINE  EPR_DISTANCE     30.9264 1.0  0.5
AtomPair    CB   4 2HA 248  SPLINE  EPR_DISTANCE     33.6322 1.0  0.5
AtomPair    CB 116  CB 197  SPLINE  EPR_DISTANCE     20.2415 1.0  0.5
AtomPair   2HA  74  CB 237  SPLINE  EPR_DISTANCE     32.7256 1.0  0.5
AtomPair    CB   7  CB 254  SPLINE  EPR_DISTANCE     9.10573 1.0  0.5
AtomPair    CB 122  CB 255  SPLINE  EPR_DISTANCE     52.2708 1.0  0.5
AtomPair    CB  33  CB 113  SPLINE  EPR_DISTANCE     34.5337 1.0  0.5
AtomPair    CB 129  CB 275  SPLINE  EPR_DISTANCE     23.1144 1.0  0.5
AtomPair    CB  75  CB 176  SPLINE  EPR_DISTANCE     26.0815 1.0  0.5
AtomPair    CB 237  CB 258  SPLINE  EPR_DISTANCE      9.6327 1.0  0.5
AtomPair    CB 188  CB 242  SPLINE  EPR_DISTANCE     23.1567 1.0  0.5
AtomPair    CB 202  CB 253  SPLINE  EPR_DISTANCE     43.3331 1.0  0.5
AtomPair    CB 127  CB 227  SPLINE  EPR_DISTANCE     28.0049 1.0  0.5
AtomPair    CB  14  CB 262  SPLINE  EPR_DISTANCE     22.1689 1.0  0.5
AtomPair    CB 177  CB 277  SPLINE  EPR_DISTANCE     37.0245 1.0  0.5
AtomPair    CB 134  CB 269  SPLINE  EPR_DISTANCE     25.9719 1.0  0.5
AtomPair    CB  35  CB 234  SPLINE  EPR_DISTANCE     39.5884 1.0  0.5
AtomPair    CB   7  CB 101  SPLINE  EPR_DISTANCE     36.9791 1.0  0.5
AtomPair    CB  35  CB 174  SPLINE  EPR_DISTANCE     43.5978 1.0  0.5
AtomPair    CB  75  CB 170  SPLINE  EPR_DISTANCE       20.39 1.0  0.5
AtomPair    CB 134  CB 244  SPLINE  EPR_DISTANCE     23.3273 1.0  0.5
AtomPair    CB 245  CB 269  SPLINE  EPR_DISTANCE     21.9012 1.0  0.5
AtomPair    CB 140  CB 241  SPLINE  EPR_DISTANCE     31.2229 1.0  0.5
AtomPair    CB  60  CB 129  SPLINE  EPR_DISTANCE     15.3738 1.0  0.5
AtomPair    CB 140  CB 254  SPLINE  EPR_DISTANCE     35.6944 1.0  0.5
AtomPair    CB 127  CB 152  SPLINE  EPR_DISTANCE     42.1874 1.0  0.5
AtomPair    CB 116  CB 204  SPLINE  EPR_DISTANCE     35.0846 1.0  0.5
AtomPair    CB 123  CB 255  SPLINE  EPR_DISTANCE     50.3716 1.0  0.5
AtomPair    CB 129  CB 186  SPLINE  EPR_DISTANCE     19.4908 1.0  0.5
AtomPair   2HA 117  CB 178  SPLINE  EPR_DISTANCE      29.281 1.0  0.5
AtomPair    CB  25  CB 169  SPLINE  EPR_DISTANCE     45.6223 1.0  0.5
AtomPair    CB 105  CB 234  SPLINE  EPR_DISTANCE     30.1884 1.0  0.5
AtomPair    CB   6  CB 127  SPLINE  EPR_DISTANCE     34.8899 1.0  0.5
AtomPair    CB  25  CB 277  SPLINE  EPR_DISTANCE     15.0911 1.0  0.5
AtomPair    CB   7  CB 173  SPLINE  EPR_DISTANCE     25.5067 1.0  0.5
AtomPair    CB 186  CB 245  SPLINE  EPR_DISTANCE     22.9164 1.0  0.5
AtomPair    CB 114  CB 237  SPLINE  EPR_DISTANCE     36.4229 1.0  0.5
AtomPair    CB  60  CB 212  SPLINE  EPR_DISTANCE     45.6939 1.0  0.5
AtomPair    CB  24  CB 105  SPLINE  EPR_DISTANCE     39.9869 1.0  0.5
AtomPair    CB 123  CB 170  SPLINE  EPR_DISTANCE     34.1416 1.0  0.5
AtomPair    CB  49  CB 258  SPLINE  EPR_DISTANCE     28.5384 1.0  0.5
AtomPair    CB  60  CB 118  SPLINE  EPR_DISTANCE      26.287 1.0  0.5
AtomPair    CB   2  CB 133  SPLINE  EPR_DISTANCE     33.0014 1.0  0.5
AtomPair    CB 119  CB 234  SPLINE  EPR_DISTANCE     35.9065 1.0  0.5
AtomPair   2HA 192  CB 258  SPLINE  EPR_DISTANCE     39.8386 1.0  0.5
AtomPair    CB  28  CB 137  SPLINE  EPR_DISTANCE     29.6037 1.0  0.5
AtomPair    CB  67  CB 269  SPLINE  EPR_DISTANCE     19.5574 1.0  0.5
AtomPair    CB  70  CB 127  SPLINE  EPR_DISTANCE     30.4728 1.0  0.5
AtomPair    CB   1  CB 166  SPLINE  EPR_DISTANCE     31.9646 1.0  0.5
AtomPair    CB  13  CB 126  SPLINE  EPR_DISTANCE      31.302 1.0  0.5
AtomPair    CB 167  CB 250  SPLINE  EPR_DISTANCE     24.1486 1.0  0.5
AtomPair    CB 182  CB 265  SPLINE  EPR_DISTANCE      31.165 1.0  0.5
AtomPair    CB 101  CB 176  SPLINE  EPR_DISTANCE     26.3342 1.0  0.5
AtomPair    CB 109  CB 242  SPLINE  EPR_DISTANCE     42.1417 1.0  0.5
AtomPair    CB  49  CB 170  SPLINE  EPR_DISTANCE     40.9532 1.0  0.5
AtomPair    CB 214  CB 235  SPLINE  EPR_DISTANCE     33.0264 1.0  0.5
AtomPair    CB  10  CB 214  SPLINE  EPR_DISTANCE     48.8545 1.0  0.5
AtomPair    CB 235  CB 265  SPLINE  EPR_DISTANCE     6.74408 1.0  0.5
AtomPair    CB 101  CB 253  SPLINE  EPR_DISTANCE     35.7418 1.0  0.5
AtomPair    CB 127  CB 169  SPLINE  EPR_DISTANCE     24.6414 1.0  0.5
AtomPair    CB  64  CB 140  SPLINE  EPR_DISTANCE     21.6775 1.0  0.5
AtomPair    CB  49  CB 246  SPLINE  EPR_DISTANCE     38.8209 1.0  0.5
AtomPair    CB  29  CB 127  SPLINE  EPR_DISTANCE     17.6633 1.0  0.5
AtomPair    CB  24  CB 169  SPLINE  EPR_DISTANCE     43.4554 1.0  0.5
AtomPair    CB 137  CB 227  SPLINE  EPR_DISTANCE       36.83 1.0  0.5
AtomPair    CB 138  CB 235  SPLINE  EPR_DISTANCE     29.0493 1.0  0.5
AtomPair    CB   2  CB 231  SPLINE  EPR_DISTANCE     32.3389 1.0  0.5
AtomPair    CB 181  CB 262  SPLINE  EPR_DISTANCE     24.8566 1.0  0.5
AtomPair    CB   4  CB 182  SPLINE  EPR_DISTANCE     41.8284 1.0  0.5
AtomPair    CB  24  CB 277  SPLINE  EPR_DISTANCE     24.3158 1.0  0.5
AtomPair    CB  17  CB 166  SPLINE  EPR_DISTANCE     39.8513 1.0  0.5
AtomPair    CB  76  CB 265  SPLINE  EPR_DISTANCE     19.8587 1.0  0.5
AtomPair    CB 237  CB 272  SPLINE  EPR_DISTANCE      19.661 1.0  0.5
AtomPair   2HA  74  CB 217  SPLINE  EPR_DISTANCE     47.8136 1.0  0.5
AtomPair    CB  64  CB 255  SPLINE  EPR_DISTANCE     26.8534 1.0  0.5
AtomPair    CB 242  CB 269  SPLINE  EPR_DISTANCE     25.6293 1.0  0.5
AtomPair    CB  56  CB 246  SPLINE  EPR_DISTANCE     34.0631 1.0  0.5
AtomPair    CB 140  CB 177  SPLINE  EPR_DISTANCE     28.9349 1.0  0.5
