AtomPair    CB   7  CB 164  SPLINE  EPR_DISTANCE     39.7742 1.0  0.5
AtomPair    CB  67  CB 133  SPLINE  EPR_DISTANCE     22.3584 1.0  0.5
AtomPair    CB  68  CB 277  SPLINE  EPR_DISTANCE     48.0813 1.0  0.5
AtomPair    CB  32  CB 120  SPLINE  EPR_DISTANCE     25.6339 1.0  0.5
AtomPair    CB 122  CB 237  SPLINE  EPR_DISTANCE     25.0641 1.0  0.5
AtomPair    CB  28  CB 140  SPLINE  EPR_DISTANCE     27.8884 1.0  0.5
AtomPair    CB 140  CB 193  SPLINE  EPR_DISTANCE     40.9673 1.0  0.5
AtomPair    CB  11  CB  49  SPLINE  EPR_DISTANCE     30.0468 1.0  0.5
AtomPair    CB 189  CB 212  SPLINE  EPR_DISTANCE     28.4508 1.0  0.5
AtomPair    CB  75  CB 262  SPLINE  EPR_DISTANCE     21.2774 1.0  0.5
AtomPair    CB  64  CB 272  SPLINE  EPR_DISTANCE     36.5515 1.0  0.5
AtomPair    CB  17  CB 185  SPLINE  EPR_DISTANCE     45.1259 1.0  0.5
AtomPair    CB  28  CB 276  SPLINE  EPR_DISTANCE     23.5185 1.0  0.5
AtomPair    CB 106  CB 223  SPLINE  EPR_DISTANCE     18.6337 1.0  0.5
AtomPair    CB   6  CB  56  SPLINE  EPR_DISTANCE     17.9615 1.0  0.5
AtomPair    CB  32  CB 237  SPLINE  EPR_DISTANCE     38.1954 1.0  0.5
AtomPair    CB 118  CB 254  SPLINE  EPR_DISTANCE      53.122 1.0  0.5
AtomPair    CB 174  CB 262  SPLINE  EPR_DISTANCE     23.5799 1.0  0.5
AtomPair    CB  56  CB 191  SPLINE  EPR_DISTANCE     34.4982 1.0  0.5
AtomPair    CB   7  CB  75  SPLINE  EPR_DISTANCE     23.8581 1.0  0.5
AtomPair    CB   3  CB  75  SPLINE  EPR_DISTANCE     23.3641 1.0  0.5
AtomPair   2HA  69  CB 254  SPLINE  EPR_DISTANCE     20.9709 1.0  0.5
AtomPair    CB  72  CB 247  SPLINE  EPR_DISTANCE     30.2569 1.0  0.5
AtomPair    CB   3  CB 193  SPLINE  EPR_DISTANCE     53.9967 1.0  0.5
AtomPair    CB 140  CB 174  SPLINE  EPR_DISTANCE     20.8192 1.0  0.5
AtomPair    CB 210  CB 277  SPLINE  EPR_DISTANCE     19.0747 1.0  0.5
AtomPair    CB  67  CB 138  SPLINE  EPR_DISTANCE     32.1498 1.0  0.5
AtomPair    CB 130  CB 254  SPLINE  EPR_DISTANCE     43.9766 1.0  0.5
AtomPair    CB  64  CB 182  SPLINE  EPR_DISTANCE      38.539 1.0  0.5
AtomPair    CB  10  CB 272  SPLINE  EPR_DISTANCE     19.5125 1.0  0.5
AtomPair    CB 108  CB 118  SPLINE  EPR_DISTANCE     18.5667 1.0  0.5
AtomPair    CB  64  CB 231  SPLINE  EPR_DISTANCE     23.1003 1.0  0.5
AtomPair    CB 178  CB 277  SPLINE  EPR_DISTANCE     29.4517 1.0  0.5
AtomPair    CB   4  CB 223  SPLINE  EPR_DISTANCE     45.9411 1.0  0.5
AtomPair   2HA 238  CB 277  SPLINE  EPR_DISTANCE     30.9018 1.0  0.5
AtomPair    CB  13  CB 209  SPLINE  EPR_DISTANCE     54.8763 1.0  0.5
AtomPair    CB 173  CB 242  SPLINE  EPR_DISTANCE     12.0002 1.0  0.5
AtomPair    CB 108  CB 224  SPLINE  EPR_DISTANCE      14.458 1.0  0.5
AtomPair    CB  56  CB 231  SPLINE  EPR_DISTANCE     28.8661 1.0  0.5
AtomPair    CB 127  CB 235  SPLINE  EPR_DISTANCE     32.2596 1.0  0.5
AtomPair    CB  72  CB 262  SPLINE  EPR_DISTANCE     33.2718 1.0  0.5
