AtomPair    CB 123  CB 269  SPLINE  EPR_DISTANCE     30.5867 1.0  0.5
AtomPair    CB  64  CB 177  SPLINE  EPR_DISTANCE     40.4791 1.0  0.5
AtomPair    CB  31  CB 272  SPLINE  EPR_DISTANCE     23.1275 1.0  0.5
AtomPair    CB 130  CB 214  SPLINE  EPR_DISTANCE     28.3348 1.0  0.5
AtomPair    CB 105  CB 277  SPLINE  EPR_DISTANCE     23.6083 1.0  0.5
AtomPair    CB 106  CB 244  SPLINE  EPR_DISTANCE      42.966 1.0  0.5
AtomPair    CB 169  CB 276  SPLINE  EPR_DISTANCE     43.4927 1.0  0.5
AtomPair    CB 217  CB 276  SPLINE  EPR_DISTANCE     22.9977 1.0  0.5
AtomPair    CB  56  CB 242  SPLINE  EPR_DISTANCE     36.5134 1.0  0.5
AtomPair    CB  18  CB  49  SPLINE  EPR_DISTANCE      19.375 1.0  0.5
AtomPair    CB  67  CB 255  SPLINE  EPR_DISTANCE     26.4577 1.0  0.5
AtomPair    CB  76  CB 189  SPLINE  EPR_DISTANCE      48.661 1.0  0.5
AtomPair    CB 138  CB 182  SPLINE  EPR_DISTANCE      16.282 1.0  0.5
AtomPair    CB   2  CB 191  SPLINE  EPR_DISTANCE     52.5238 1.0  0.5
AtomPair    CB 178  CB 220  SPLINE  EPR_DISTANCE     22.7088 1.0  0.5
AtomPair    CB  60  CB 118  SPLINE  EPR_DISTANCE      34.287 1.0  0.5
AtomPair    CB 123  CB 224  SPLINE  EPR_DISTANCE     23.0002 1.0  0.5
AtomPair    CB   6  CB 173  SPLINE  EPR_DISTANCE     38.8596 1.0  0.5
AtomPair    CB   2  CB 133  SPLINE  EPR_DISTANCE     36.5014 1.0  0.5
AtomPair    CB  56  CB 237  SPLINE  EPR_DISTANCE     30.5613 1.0  0.5
AtomPair    CB  75  CB 177  SPLINE  EPR_DISTANCE     25.2535 1.0  0.5
AtomPair    CB  76  CB 140  SPLINE  EPR_DISTANCE     21.5739 1.0  0.5
AtomPair    CB  67  CB 272  SPLINE  EPR_DISTANCE     27.9988 1.0  0.5
AtomPair    CB  32  CB 140  SPLINE  EPR_DISTANCE     42.1065 1.0  0.5
AtomPair    CB  29  CB 105  SPLINE  EPR_DISTANCE     31.0658 1.0  0.5
AtomPair    CB   7  CB 108  SPLINE  EPR_DISTANCE     35.4611 1.0  0.5
AtomPair    CB  35  CB 278  SPLINE  EPR_DISTANCE     17.2705 1.0  0.5
AtomPair    CB 137  CB 255  SPLINE  EPR_DISTANCE     24.1401 1.0  0.5
AtomPair    CB 191  CB 277  SPLINE  EPR_DISTANCE      25.181 1.0  0.5
AtomPair    CB  29  CB 269  SPLINE  EPR_DISTANCE     18.7885 1.0  0.5
AtomPair    CB  76  CB 123  SPLINE  EPR_DISTANCE     33.8394 1.0  0.5
AtomPair    CB 109  CB 203  SPLINE  EPR_DISTANCE     12.7002 1.0  0.5
AtomPair    CB  60  CB 177  SPLINE  EPR_DISTANCE     29.9121 1.0  0.5
AtomPair    CB   7  CB 231  SPLINE  EPR_DISTANCE     16.3196 1.0  0.5
AtomPair    CB 180  CB 224  SPLINE  EPR_DISTANCE     25.8977 1.0  0.5
AtomPair    CB 212  CB 255  SPLINE  EPR_DISTANCE     47.7626 1.0  0.5
AtomPair    CB   3  CB  68  SPLINE  EPR_DISTANCE     14.8502 1.0  0.5
AtomPair    CB 105  CB 220  SPLINE  EPR_DISTANCE     9.97844 1.0  0.5
AtomPair    CB  76  CB 277  SPLINE  EPR_DISTANCE     42.0562 1.0  0.5
AtomPair    CB 133  CB 188  SPLINE  EPR_DISTANCE     25.9578 1.0  0.5
AtomPair    CB   4  CB 220  SPLINE  EPR_DISTANCE      43.577 1.0  0.5
