# cst constraint descriptor for esterase active site featuring a 
#catalytic dyad and an oxyanion hole consisting of two ASNs
# F.Richter, Baker lab, UW,   floric@u.washington.edu
 
#block 1 for proton abstracting histidine

CST::BEGIN  
  TEMPLATE::   ATOM_MAP: 1 atom_name: C6 O4 O2
  TEMPLATE::   ATOM_MAP: 1 residue3: D2N

  TEMPLATE::   ATOM_MAP: 2 atom_type: Nhis,
  TEMPLATE::   ATOM_MAP: 2 residue1: H 
 
  CONSTRAINT:: distanceAB:    2.00   0.30 100.00  1
  CONSTRAINT::    angle_A:  105.10   6.00 100.00  360.00
  CONSTRAINT::    angle_B:  116.90   5.00  50.00  360.00
  CONSTRAINT::  torsion_A:  105.00  10.00  50.00  360.00
  CONSTRAINT::  torsion_B:  180.00  10.00  25.00  180.00
  CONSTRAINT:: torsion_AB:    0.00   0.00   0.00  180.00
CST::END

#block 2 for aromatic binding

CST::BEGIN  
  TEMPLATE::   ATOM_MAP: 1 atom_name: X1 C10 C12
  TEMPLATE::   ATOM_MAP: 1 residue3: D2N

  TEMPLATE::   ATOM_MAP: 2 atom_type: aroC,
  TEMPLATE::   ATOM_MAP: 2 residue1: WFY 
  
  CONSTRAINT:: distanceAB:    3.50   0.20  50.00  0
  CONSTRAINT::    angle_A:   90.00   5.00  50.00  360.00  
  CONSTRAINT::    angle_B:   90.00   5.00  50.00  360.00
  CONSTRAINT::  torsion_A:   90.00   5.00  50.00  180.00 
  CONSTRAINT::  torsion_B:  180.00  15.00   0.00  120.00 
  CONSTRAINT:: torsion_AB:    0.00   0.00   0.00  180.00
CST::END

