AmbiguousNMRDistance     H     7     H    11 BOUNDED 1.5 5.650 0.3 NOE; rawdata 5.500
AmbiguousNMRDistance     H    12     H     7 BOUNDED 1.5 5.650 0.3 NOE; rawdata 5.500
AmbiguousNMRDistance     H    14     H    10 BOUNDED 1.5 5.650 0.3 NOE; rawdata 5.500
AmbiguousNMRDistance     H    15     H    10 BOUNDED 1.5 5.650 0.3 NOE; rawdata 5.500
AmbiguousNMRDistance     H    25     H    29 BOUNDED 1.5 5.650 0.3 NOE; rawdata 5.500
AmbiguousNMRDistance     H    43     H    39 BOUNDED 1.5 5.650 0.3 NOE; rawdata 5.500
AmbiguousNMRDistance     H    15    HA    11 BOUNDED 1.5 4.650 0.3 NOE; rawdata 4.500
AmbiguousNMRDistance     H    17    HA    13 BOUNDED 1.5 5.650 0.3 NOE; rawdata 5.500
AmbiguousNMRDistance     H    18    HA    14 BOUNDED 1.5 4.650 0.3 NOE; rawdata 4.500
AmbiguousNMRDistance     H    29    HA    24 BOUNDED 1.5 4.650 0.3 NOE; rawdata 4.500
AmbiguousNMRDistance     H    32    HA    28 BOUNDED 1.5 4.650 0.3 NOE; rawdata 4.500
AmbiguousNMRDistance     H    33    HA    29 BOUNDED 1.5 5.650 0.3 NOE; rawdata 5.500
AmbiguousNMRDistance     H    35    HA    31 BOUNDED 1.5 5.650 0.3 NOE; rawdata 5.500
AmbiguousNMRDistance     H    43    HA    39 BOUNDED 1.5 5.650 0.3 NOE; rawdata 5.500
AmbiguousNMRDistance     H    46    HA    50 BOUNDED 1.5 5.650 0.3 NOE; rawdata 5.500
AmbiguousNMRDistance     H    47    HA    43 BOUNDED 1.5 5.650 0.3 NOE; rawdata 5.500
AmbiguousNMRDistance     H    48    HA    44 BOUNDED 1.5 5.650 0.3 NOE; rawdata 5.500
AmbiguousNMRDistance     H    49    HA    44 BOUNDED 1.5 5.650 0.3 NOE; rawdata 5.500
AmbiguousNMRDistance     H    45   HA2    41 BOUNDED 1.5 5.650 0.3 NOE; rawdata 5.500
AmbiguousNMRDistance    HA    18     H    22 BOUNDED 1.5 4.650 0.3 NOE; rawdata 4.500
