AtomPair   CA    3   CA   56 BOUNDED 6.99 8.99 1.00 #ContactMap: 7.99
AtomPair   CA    4   CA   55 BOUNDED 5.41 7.41 1.00 #ContactMap: 6.41
AtomPair   CA    4   CA   56 BOUNDED 3.78 5.78 1.00 #ContactMap: 4.78
AtomPair   CA    4   CA   57 BOUNDED 4.39 6.39 1.00 #ContactMap: 5.39
AtomPair   CA    4   CA   58 BOUNDED 6.93 8.93 1.00 #ContactMap: 7.93
AtomPair   CA    5   CA   54 BOUNDED 6.94 8.94 1.00 #ContactMap: 7.94
AtomPair   CA    5   CA   55 BOUNDED 4.47 6.47 1.00 #ContactMap: 5.47
AtomPair   CA    5   CA   56 BOUNDED 4.38 6.38 1.00 #ContactMap: 5.38
AtomPair   CA    5   CA   57 BOUNDED 5.11 7.11 1.00 #ContactMap: 6.11
AtomPair   CA    5   CA   58 BOUNDED 5.99 7.99 1.00 #ContactMap: 6.99
AtomPair   CA    6   CA   53 BOUNDED 5.65 7.65 1.00 #ContactMap: 6.65
AtomPair   CA    6   CA   54 BOUNDED 4.46 6.46 1.00 #ContactMap: 5.46
AtomPair   CA    6   CA   55 BOUNDED 3.34 5.34 1.00 #ContactMap: 4.34
AtomPair   CA    6   CA   56 BOUNDED 5.65 7.65 1.00 #ContactMap: 6.65
AtomPair   CA    7   CA   52 BOUNDED 6.92 8.92 1.00 #ContactMap: 7.92
AtomPair   CA    7   CA   53 BOUNDED 4.76 6.76 1.00 #ContactMap: 5.76
AtomPair   CA    7   CA   54 BOUNDED 3.95 5.95 1.00 #ContactMap: 4.95
AtomPair   CA    7   CA   55 BOUNDED 5.38 7.38 1.00 #ContactMap: 6.38
AtomPair   CA    7   CA   61 BOUNDED 6.29 8.29 1.00 #ContactMap: 7.29
AtomPair   CA    8   CA   51 BOUNDED 5.63 7.63 1.00 #ContactMap: 6.63
AtomPair   CA    8   CA   52 BOUNDED 4.67 6.67 1.00 #ContactMap: 5.67
AtomPair   CA    8   CA   53 BOUNDED 4.08 6.08 1.00 #ContactMap: 5.08
AtomPair   CA    8   CA   54 BOUNDED 5.54 7.54 1.00 #ContactMap: 6.54
AtomPair   CA    9   CA   51 BOUNDED 4.97 6.97 1.00 #ContactMap: 5.97
AtomPair   CA    9   CA   52 BOUNDED 3.92 5.92 1.00 #ContactMap: 4.92
AtomPair   CA    9   CA   53 BOUNDED 5.60 7.60 1.00 #ContactMap: 6.60
AtomPair   CA    9   CA   54 BOUNDED 6.79 8.79 1.00 #ContactMap: 7.79
AtomPair   CA   10   CA   49 BOUNDED 5.06 7.06 1.00 #ContactMap: 6.06
AtomPair   CA   10   CA   50 BOUNDED 4.65 6.65 1.00 #ContactMap: 5.65
AtomPair   CA   10   CA   51 BOUNDED 4.15 6.15 1.00 #ContactMap: 5.15
AtomPair   CA   10   CA   52 BOUNDED 5.16 7.16 1.00 #ContactMap: 6.16
AtomPair   CA   11   CA   16 BOUNDED 5.40 7.40 1.00 #ContactMap: 6.40
AtomPair   CA   11   CA   49 BOUNDED 4.13 6.13 1.00 #ContactMap: 5.13
AtomPair   CA   11   CA   50 BOUNDED 4.31 6.31 1.00 #ContactMap: 5.31
AtomPair   CA   11   CA   51 BOUNDED 5.69 7.69 1.00 #ContactMap: 6.69
AtomPair   CA   11   CA   52 BOUNDED 6.08 8.08 1.00 #ContactMap: 7.08
AtomPair   CA   12   CA   48 BOUNDED 5.18 7.18 1.00 #ContactMap: 6.18
AtomPair   CA   12   CA   49 BOUNDED 3.07 5.07 1.00 #ContactMap: 4.07
AtomPair   CA   12   CA   50 BOUNDED 5.28 7.28 1.00 #ContactMap: 6.28
AtomPair   CA   13   CA   48 BOUNDED 5.11 7.11 1.00 #ContactMap: 6.11
AtomPair   CA   13   CA   49 BOUNDED 3.58 5.58 1.00 #ContactMap: 4.58
AtomPair   CA   13   CA   50 BOUNDED 4.80 6.80 1.00 #ContactMap: 5.80
AtomPair   CA   14   CA   49 BOUNDED 6.87 8.87 1.00 #ContactMap: 7.87
AtomPair   CA   15   CA   72 BOUNDED 5.25 7.25 1.00 #ContactMap: 6.25
AtomPair   CA   16   CA   50 BOUNDED 6.38 8.38 1.00 #ContactMap: 7.38
AtomPair   CA   18   CA   26 BOUNDED 6.37 8.37 1.00 #ContactMap: 7.37
AtomPair   CA   18   CA   71 BOUNDED 5.34 7.34 1.00 #ContactMap: 6.34
AtomPair   CA   18   CA   72 BOUNDED 6.09 8.09 1.00 #ContactMap: 7.09
AtomPair   CA   19   CA   26 BOUNDED 4.84 6.84 1.00 #ContactMap: 5.84
AtomPair   CA   19   CA   27 BOUNDED 5.30 7.30 1.00 #ContactMap: 6.30
AtomPair   CA   19   CA   68 BOUNDED 5.34 7.34 1.00 #ContactMap: 6.34
AtomPair   CA   19   CA   71 BOUNDED 5.03 7.03 1.00 #ContactMap: 6.03
AtomPair   CA   19   CA   72 BOUNDED 6.14 8.14 1.00 #ContactMap: 7.14
AtomPair   CA   20   CA   25 BOUNDED 5.44 7.44 1.00 #ContactMap: 6.44
AtomPair   CA   20   CA   26 BOUNDED 4.27 6.27 1.00 #ContactMap: 5.27
AtomPair   CA   20   CA   27 BOUNDED 4.20 6.20 1.00 #ContactMap: 5.20
AtomPair   CA   21   CA   26 BOUNDED 3.62 5.62 1.00 #ContactMap: 4.62
AtomPair   CA   21   CA   27 BOUNDED 5.83 7.83 1.00 #ContactMap: 6.83
AtomPair   CA   27   CA   38 BOUNDED 5.41 7.41 1.00 #ContactMap: 6.41
AtomPair   CA   27   CA   39 BOUNDED 6.98 8.98 1.00 #ContactMap: 7.98
AtomPair   CA   30   CA   35 BOUNDED 6.83 8.83 1.00 #ContactMap: 7.83
AtomPair   CA   30   CA   36 BOUNDED 6.87 8.87 1.00 #ContactMap: 7.87
AtomPair   CA   30   CA   38 BOUNDED 6.63 8.63 1.00 #ContactMap: 7.63
AtomPair   CA   30   CA   64 BOUNDED 5.05 7.05 1.00 #ContactMap: 6.05
AtomPair   CA   30   CA   67 BOUNDED 5.21 7.21 1.00 #ContactMap: 6.21
AtomPair   CA   30   CA   68 BOUNDED 6.35 8.35 1.00 #ContactMap: 7.35
AtomPair   CA   31   CA   36 BOUNDED 4.21 6.21 1.00 #ContactMap: 5.21
AtomPair   CA   31   CA   37 BOUNDED 4.47 6.47 1.00 #ContactMap: 5.47
AtomPair   CA   31   CA   38 BOUNDED 5.06 7.06 1.00 #ContactMap: 6.06
AtomPair   CA   31   CA   64 BOUNDED 6.09 8.09 1.00 #ContactMap: 7.09
AtomPair   CA   33   CA   63 BOUNDED 6.83 8.83 1.00 #ContactMap: 7.83
AtomPair   CA   33   CA   64 BOUNDED 6.87 8.87 1.00 #ContactMap: 7.87
AtomPair   CA   34   CA   60 BOUNDED 3.89 5.89 1.00 #ContactMap: 4.89
AtomPair   CA   34   CA   61 BOUNDED 6.11 8.11 1.00 #ContactMap: 7.11
AtomPair   CA   34   CA   63 BOUNDED 4.04 6.04 1.00 #ContactMap: 5.04
AtomPair   CA   34   CA   64 BOUNDED 4.19 6.19 1.00 #ContactMap: 5.19
AtomPair   CA   34   CA   67 BOUNDED 6.93 8.93 1.00 #ContactMap: 7.93
AtomPair   CA   35   CA   56 BOUNDED 5.87 7.87 1.00 #ContactMap: 6.87
AtomPair   CA   35   CA   60 BOUNDED 4.42 6.42 1.00 #ContactMap: 5.42
AtomPair   CA   35   CA   64 BOUNDED 6.88 8.88 1.00 #ContactMap: 7.88
AtomPair   CA   36   CA   54 BOUNDED 5.09 7.09 1.00 #ContactMap: 6.09
AtomPair   CA   36   CA   55 BOUNDED 4.32 6.32 1.00 #ContactMap: 5.32
AtomPair   CA   36   CA   56 BOUNDED 3.56 5.56 1.00 #ContactMap: 4.56
AtomPair   CA   36   CA   57 BOUNDED 6.09 8.09 1.00 #ContactMap: 7.09
AtomPair   CA   36   CA   60 BOUNDED 4.29 6.29 1.00 #ContactMap: 5.29
AtomPair   CA   36   CA   61 BOUNDED 5.09 7.09 1.00 #ContactMap: 6.09
AtomPair   CA   36   CA   64 BOUNDED 5.61 7.61 1.00 #ContactMap: 6.61
AtomPair   CA   37   CA   53 BOUNDED 6.57 8.57 1.00 #ContactMap: 7.57
AtomPair   CA   37   CA   54 BOUNDED 4.54 6.54 1.00 #ContactMap: 5.54
AtomPair   CA   37   CA   55 BOUNDED 4.04 6.04 1.00 #ContactMap: 5.04
AtomPair   CA   37   CA   56 BOUNDED 5.50 7.50 1.00 #ContactMap: 6.50
AtomPair   CA   38   CA   52 BOUNDED 5.87 7.87 1.00 #ContactMap: 6.87
AtomPair   CA   38   CA   53 BOUNDED 4.61 6.61 1.00 #ContactMap: 5.61
AtomPair   CA   38   CA   54 BOUNDED 3.93 5.93 1.00 #ContactMap: 4.93
AtomPair   CA   38   CA   55 BOUNDED 5.82 7.82 1.00 #ContactMap: 6.82
AtomPair   CA   38   CA   64 BOUNDED 7.00 9.00 1.00 #ContactMap: 8.00
AtomPair   CA   39   CA   52 BOUNDED 4.74 6.74 1.00 #ContactMap: 5.74
AtomPair   CA   39   CA   53 BOUNDED 3.97 5.97 1.00 #ContactMap: 4.97
AtomPair   CA   39   CA   54 BOUNDED 5.75 7.75 1.00 #ContactMap: 6.75
AtomPair   CA   40   CA   50 BOUNDED 6.01 8.01 1.00 #ContactMap: 7.01
AtomPair   CA   40   CA   51 BOUNDED 4.85 6.85 1.00 #ContactMap: 5.85
AtomPair   CA   40   CA   52 BOUNDED 3.75 5.75 1.00 #ContactMap: 4.75
AtomPair   CA   40   CA   53 BOUNDED 5.36 7.36 1.00 #ContactMap: 6.36
AtomPair   CA   41   CA   50 BOUNDED 5.17 7.17 1.00 #ContactMap: 6.17
AtomPair   CA   41   CA   51 BOUNDED 4.17 6.17 1.00 #ContactMap: 5.17
AtomPair   CA   41   CA   52 BOUNDED 5.42 7.42 1.00 #ContactMap: 6.42
AtomPair   CA   41   CA   53 BOUNDED 6.89 8.89 1.00 #ContactMap: 7.89
AtomPair   CA   42   CA   50 BOUNDED 4.32 6.32 1.00 #ContactMap: 5.32
AtomPair   CA   42   CA   51 BOUNDED 4.96 6.96 1.00 #ContactMap: 5.96
AtomPair   CA   43   CA   51 BOUNDED 5.47 7.47 1.00 #ContactMap: 6.47
AtomPair   CA   54   CA   61 BOUNDED 5.21 7.21 1.00 #ContactMap: 6.21
AtomPair   CA   54   CA   64 BOUNDED 6.34 8.34 1.00 #ContactMap: 7.34
AtomPair   CA   55   CA   61 BOUNDED 5.93 7.93 1.00 #ContactMap: 6.93
AtomPair   CA   56   CA   61 BOUNDED 5.08 7.08 1.00 #ContactMap: 6.08
