AtomPair   CB   43   CA   49  SIGMOID 8.00 1.00 #ContactMap: 0.75
AtomPair   CB   34   CB   67  SIGMOID 8.00 1.00 #ContactMap: 0.73
AtomPair   CB   33   CB   67  SIGMOID 8.00 1.00 #ContactMap: 0.71
AtomPair   CA   35   CB   60  SIGMOID 8.00 1.00 #ContactMap: 0.61
AtomPair   CB   36   CB   60  SIGMOID 8.00 1.00 #ContactMap: 0.60
AtomPair   CB   16   CB   50  SIGMOID 8.00 1.00 #ContactMap: 0.51
AtomPair   CB   10   CB   51  SIGMOID 8.00 1.00 #ContactMap: 0.51
AtomPair   CB    7   CB   61  SIGMOID 8.00 1.00 #ContactMap: 0.50
AtomPair   CB    8   CB   51  SIGMOID 8.00 1.00 #ContactMap: 0.49
AtomPair   CB   34   CB   63  SIGMOID 8.00 1.00 #ContactMap: 0.49
AtomPair   CB    7   CB   65  SIGMOID 8.00 1.00 #ContactMap: 0.49
AtomPair   CB   16   CB   40  SIGMOID 8.00 1.00 #ContactMap: 0.47
AtomPair   CB   40   CB   52  SIGMOID 8.00 1.00 #ContactMap: 0.42
AtomPair   CB   54   CB   65  SIGMOID 8.00 1.00 #ContactMap: 0.41
AtomPair   CB   11   CB   52  SIGMOID 8.00 1.00 #ContactMap: 0.39
AtomPair   CA   56   CB   61  SIGMOID 8.00 1.00 #ContactMap: 0.39
AtomPair   CB   41   CB   53  SIGMOID 8.00 1.00 #ContactMap: 0.37
AtomPair   CB   16   CB   41  SIGMOID 8.00 1.00 #ContactMap: 0.35
AtomPair   CB   26   CB   71  SIGMOID 8.00 1.00 #ContactMap: 0.35
AtomPair   CB   38   CB   52  SIGMOID 8.00 1.00 #ContactMap: 0.35
AtomPair   CB   30   CB   38  SIGMOID 8.00 1.00 #ContactMap: 0.34
AtomPair   CB   54   CB   68  SIGMOID 8.00 1.00 #ContactMap: 0.33
AtomPair   CB   18   CB   26  SIGMOID 8.00 1.00 #ContactMap: 0.32
AtomPair   CB   29   CB   67  SIGMOID 8.00 1.00 #ContactMap: 0.31
AtomPair   CB   36   CB   54  SIGMOID 8.00 1.00 #ContactMap: 0.28
AtomPair   CB   34   CB   64  SIGMOID 8.00 1.00 #ContactMap: 0.27
AtomPair   CB   41   CB   50  SIGMOID 8.00 1.00 #ContactMap: 0.26
AtomPair   CB   36   CB   64  SIGMOID 8.00 1.00 #ContactMap: 0.26
AtomPair   CB   38   CB   68  SIGMOID 8.00 1.00 #ContactMap: 0.26
AtomPair   CB   11   CB   19  SIGMOID 8.00 1.00 #ContactMap: 0.25
AtomPair   CB   31   CB   37  SIGMOID 8.00 1.00 #ContactMap: 0.25
AtomPair   CB   38   CB   54  SIGMOID 8.00 1.00 #ContactMap: 0.23
AtomPair   CB   19   CB   30  SIGMOID 8.00 1.00 #ContactMap: 0.22
AtomPair   CB   52   CB   68  SIGMOID 8.00 1.00 #ContactMap: 0.22
AtomPair   CB   54   CB   61  SIGMOID 8.00 1.00 #ContactMap: 0.22
AtomPair   CB    9   CB   65  SIGMOID 8.00 1.00 #ContactMap: 0.22
AtomPair   CB   22   CB   31  SIGMOID 8.00 1.00 #ContactMap: 0.22
AtomPair   CB   33   CB   63  SIGMOID 8.00 1.00 #ContactMap: 0.21
AtomPair   CB   27   CB   38  SIGMOID 8.00 1.00 #ContactMap: 0.21
AtomPair   CB   30   CB   64  SIGMOID 8.00 1.00 #ContactMap: 0.21
AtomPair   CA   17   CB   50  SIGMOID 8.00 1.00 #ContactMap: 0.20
AtomPair   CB   30   CB   40  SIGMOID 8.00 1.00 #ContactMap: 0.20
AtomPair   CB   39   CB   53  SIGMOID 8.00 1.00 #ContactMap: 0.20
AtomPair   CB   31   CB   39  SIGMOID 8.00 1.00 #ContactMap: 0.20
AtomPair   CB    8   CB   53  SIGMOID 8.00 1.00 #ContactMap: 0.20
AtomPair   CB   25   CB   37  SIGMOID 8.00 1.00 #ContactMap: 0.20
AtomPair   CB   20   CB   27  SIGMOID 8.00 1.00 #ContactMap: 0.19
AtomPair   CB   42   CB   55  SIGMOID 8.00 1.00 #ContactMap: 0.19
AtomPair   CA   17   CA   24  SIGMOID 8.00 1.00 #ContactMap: 0.19
AtomPair   CB   26   CB   33  SIGMOID 8.00 1.00 #ContactMap: 0.19
AtomPair   CB   38   CB   64  SIGMOID 8.00 1.00 #ContactMap: 0.18
AtomPair   CB   20   CB   28  SIGMOID 8.00 1.00 #ContactMap: 0.18
AtomPair   CB   31   CB   38  SIGMOID 8.00 1.00 #ContactMap: 0.18
AtomPair   CB   57   CB   62  SIGMOID 8.00 1.00 #ContactMap: 0.18
AtomPair   CB   10   CA   49  SIGMOID 8.00 1.00 #ContactMap: 0.18
AtomPair   CB   62   CB   69  SIGMOID 8.00 1.00 #ContactMap: 0.18
AtomPair   CB   41   CB   51  SIGMOID 8.00 1.00 #ContactMap: 0.18
AtomPair   CA   17   CB   22  SIGMOID 8.00 1.00 #ContactMap: 0.18
AtomPair   CA   49   CB   54  SIGMOID 8.00 1.00 #ContactMap: 0.18
AtomPair   CB   13   CB   50  SIGMOID 8.00 1.00 #ContactMap: 0.17
AtomPair   CB   19   CA   24  SIGMOID 8.00 1.00 #ContactMap: 0.17
AtomPair   CA   56   CB   64  SIGMOID 8.00 1.00 #ContactMap: 0.17
AtomPair   CB   15   CB   53  SIGMOID 8.00 1.00 #ContactMap: 0.17
AtomPair   CB   30   CB   71  SIGMOID 8.00 1.00 #ContactMap: 0.16
AtomPair   CB   18   CB   37  SIGMOID 8.00 1.00 #ContactMap: 0.16
AtomPair   CB   39   CB   48  SIGMOID 8.00 1.00 #ContactMap: 0.16
AtomPair   CB   26   CB   31  SIGMOID 8.00 1.00 #ContactMap: 0.16
AtomPair   CB   34   CB   60  SIGMOID 8.00 1.00 #ContactMap: 0.15
AtomPair   CA   21   CB   40  SIGMOID 8.00 1.00 #ContactMap: 0.15
AtomPair   CB   15   CB   40  SIGMOID 8.00 1.00 #ContactMap: 0.15
