AtomPair	CB	8	CB	82	SPLINE	EPR_DISTANCE	32.6603	1.0	0.5
AtomPair	CB	54	CB	109	SPLINE	EPR_DISTANCE	21.0682	1.0	0.5
AtomPair	CB	5	CB	81	SPLINE	EPR_DISTANCE	42.4868	1.0	0.5
AtomPair	CB	6	CB	82	SPLINE	EPR_DISTANCE	33.3618	1.0	0.5
AtomPair	CB	5	CB	115	SPLINE	EPR_DISTANCE	12.4018	1.0	0.5
AtomPair	1HA	37	CB	81	SPLINE	EPR_DISTANCE	28.312	1.0	0.5
AtomPair	CB	55	CB	109	SPLINE	EPR_DISTANCE	19.03	1.0	0.5
AtomPair	1HA	30	CB	114	SPLINE	EPR_DISTANCE	34.5857	1.0	0.5
AtomPair	CB	4	CB	107	SPLINE	EPR_DISTANCE	21.1725	1.0	0.5
AtomPair	CB	19	CB	51	SPLINE	EPR_DISTANCE	26.3051	1.0	0.5
AtomPair	CB	8	CB	114	SPLINE	EPR_DISTANCE	13.2779	1.0	0.5
AtomPair	1HA	37	CB	82	SPLINE	EPR_DISTANCE	22.6903	1.0	0.5
AtomPair	CB	29	1HA	116	SPLINE	EPR_DISTANCE	33.3286	1.0	0.5
AtomPair	CB	54	CB	107	SPLINE	EPR_DISTANCE	32.4389	1.0	0.5
AtomPair	CB	12	1HA	116	SPLINE	EPR_DISTANCE	22.9412	1.0	0.5
AtomPair	CB	5	1HA	79	SPLINE	EPR_DISTANCE	36.9863	1.0	0.5
AtomPair	CB	28	CB	114	SPLINE	EPR_DISTANCE	36.7523	1.0	0.5
AtomPair	CB	12	CB	52	SPLINE	EPR_DISTANCE	25.545	1.0	0.5
AtomPair	CB	4	1HA	37	SPLINE	EPR_DISTANCE	27.3771	1.0	0.5
AtomPair	1HA	40	CB	82	SPLINE	EPR_DISTANCE	25.2267	1.0	0.5
AtomPair	1HA	30	CB	112	SPLINE	EPR_DISTANCE	34.169	1.0	0.5
