AtomPair	CB	31	CB	253	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	39.6877	1.0	0.5
AtomPair	CB	31	CB	253	SCALARWEIGHTEDFUNC	0.0	BOUNDED	27.6877	51.6877	1.0	NOE	;dist
AtomPair	CB	68	CB	214	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	38.6352	1.0	0.5
AtomPair	CB	68	CB	214	SCALARWEIGHTEDFUNC	0.0	BOUNDED	26.6352	50.6352	1.0	NOE	;dist
AtomPair	CB	18	CB	76	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	26.4597	1.0	0.5
AtomPair	CB	18	CB	76	SCALARWEIGHTEDFUNC	0.0	BOUNDED	14.4597	38.4597	1.0	NOE	;dist
AtomPair	CB	76	CB	253	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	29.1154	1.0	0.5
AtomPair	CB	76	CB	253	SCALARWEIGHTEDFUNC	0.0	BOUNDED	17.1154	41.1154	1.0	NOE	;dist
AtomPair	CB	76	CB	174	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	19.3769	1.0	0.5
AtomPair	CB	76	CB	174	SCALARWEIGHTEDFUNC	0.0	BOUNDED	7.3769	31.3769	1.0	NOE	;dist
AtomPair	CB	75	CB	186	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	34.2963	1.0	0.5
AtomPair	CB	75	CB	186	SCALARWEIGHTEDFUNC	0.0	BOUNDED	22.2963	46.2963	1.0	NOE	;dist
AtomPair	CB	32	CB	265	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	27.8195	1.0	0.5
AtomPair	CB	32	CB	265	SCALARWEIGHTEDFUNC	0.0	BOUNDED	15.8195	39.8195	1.0	NOE	;dist
AtomPair	CB	10	CB	68	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	19.9583	1.0	0.5
AtomPair	CB	10	CB	68	SCALARWEIGHTEDFUNC	0.0	BOUNDED	7.9583	31.9583	1.0	NOE	;dist
AtomPair	CB	29	CB	68	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	29.3178	1.0	0.5
AtomPair	CB	29	CB	68	SCALARWEIGHTEDFUNC	0.0	BOUNDED	17.3178	41.3178	1.0	NOE	;dist
AtomPair	CB	64	CB	275	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	37.4588	1.0	0.5
AtomPair	CB	64	CB	275	SCALARWEIGHTEDFUNC	0.0	BOUNDED	25.4588	49.4588	1.0	NOE	;dist
AtomPair	CB	10	CB	214	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	35.8545	1.0	0.5
AtomPair	CB	10	CB	214	SCALARWEIGHTEDFUNC	0.0	BOUNDED	23.8545	47.8545	1.0	NOE	;dist
AtomPair	CB	21	CB	200	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	34.6046	1.0	0.5
AtomPair	CB	21	CB	200	SCALARWEIGHTEDFUNC	0.0	BOUNDED	22.6046	46.6046	1.0	NOE	;dist
AtomPair	CB	49	CB	180	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	29.1672	1.0	0.5
AtomPair	CB	49	CB	180	SCALARWEIGHTEDFUNC	0.0	BOUNDED	17.1672	41.1672	1.0	NOE	;dist
AtomPair	CB	60	CB	133	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	20.8914	1.0	0.5
AtomPair	CB	60	CB	133	SCALARWEIGHTEDFUNC	0.0	BOUNDED	8.8914	32.8914	1.0	NOE	;dist
AtomPair	CB	129	CB	212	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	32.1606	1.0	0.5
AtomPair	CB	129	CB	212	SCALARWEIGHTEDFUNC	0.0	BOUNDED	20.1606	44.1606	1.0	NOE	;dist
AtomPair	CB	2	CB	178	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	42.6908	1.0	0.5
AtomPair	CB	2	CB	178	SCALARWEIGHTEDFUNC	0.0	BOUNDED	30.6908	54.6908	1.0	NOE	;dist
AtomPair	CB	1	2HA	248	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	16.5552	1.0	0.5
AtomPair	CB	1	2HA	248	SCALARWEIGHTEDFUNC	0.0	BOUNDED	4.5552	28.5552	1.0	NOE	;dist
AtomPair	CB	212	CB	277	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	9.89882	1.0	0.5
AtomPair	CB	212	CB	277	SCALARWEIGHTEDFUNC	0.0	BOUNDED	0.0	21.8988	20.0	NOE	;dist
AtomPair	CB	245	CB	277	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	46.1886	1.0	0.5
AtomPair	CB	245	CB	277	SCALARWEIGHTEDFUNC	0.0	BOUNDED	34.1886	58.1886	1.0	NOE	;dist
AtomPair	CB	169	CB	237	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	22.5848	1.0	0.5
AtomPair	CB	169	CB	237	SCALARWEIGHTEDFUNC	0.0	BOUNDED	10.5848	34.5848	1.0	NOE	;dist
AtomPair	CB	118	CB	177	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	39.0881	1.0	0.5
AtomPair	CB	118	CB	177	SCALARWEIGHTEDFUNC	0.0	BOUNDED	27.0881	51.0881	1.0	NOE	;dist
AtomPair	CB	75	CB	242	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	27.4991	1.0	0.5
AtomPair	CB	75	CB	242	SCALARWEIGHTEDFUNC	0.0	BOUNDED	15.4991	39.4991	1.0	NOE	;dist
AtomPair	CB	101	CB	269	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	18.1641	1.0	0.5
AtomPair	CB	101	CB	269	SCALARWEIGHTEDFUNC	0.0	BOUNDED	6.1641	30.1641	1.0	NOE	;dist
AtomPair	CB	13	CB	140	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	19.9479	1.0	0.5
AtomPair	CB	13	CB	140	SCALARWEIGHTEDFUNC	0.0	BOUNDED	7.9479	31.9479	1.0	NOE	;dist
AtomPair	CB	3	CB	242	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	34.6507	1.0	0.5
AtomPair	CB	3	CB	242	SCALARWEIGHTEDFUNC	0.0	BOUNDED	22.6507	46.6507	1.0	NOE	;dist
AtomPair	CB	133	CB	224	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	35.063	1.0	0.5
AtomPair	CB	133	CB	224	SCALARWEIGHTEDFUNC	0.0	BOUNDED	23.063	47.063	1.0	NOE	;dist
AtomPair	CB	170	CB	275	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	43.7391	1.0	0.5
AtomPair	CB	170	CB	275	SCALARWEIGHTEDFUNC	0.0	BOUNDED	31.7391	55.7391	1.0	NOE	;dist
AtomPair	CB	182	CB	265	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	22.665	1.0	0.5
AtomPair	CB	182	CB	265	SCALARWEIGHTEDFUNC	0.0	BOUNDED	10.665	34.665	1.0	NOE	;dist
AtomPair	CB	7	CB	180	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	31.6904	1.0	0.5
AtomPair	CB	7	CB	180	SCALARWEIGHTEDFUNC	0.0	BOUNDED	19.6904	43.6904	1.0	NOE	;dist
AtomPair	CB	118	CB	262	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	41.9366	1.0	0.5
AtomPair	CB	118	CB	262	SCALARWEIGHTEDFUNC	0.0	BOUNDED	29.9366	53.9366	1.0	NOE	;dist
AtomPair	CB	106	CB	127	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	22.5331	1.0	0.5
AtomPair	CB	106	CB	127	SCALARWEIGHTEDFUNC	0.0	BOUNDED	10.5331	34.5331	1.0	NOE	;dist
AtomPair	CB	49	CB	193	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	33.4832	1.0	0.5
AtomPair	CB	49	CB	193	SCALARWEIGHTEDFUNC	0.0	BOUNDED	21.4832	45.4832	1.0	NOE	;dist
AtomPair	CB	101	CB	212	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	25.4991	1.0	0.5
AtomPair	CB	101	CB	212	SCALARWEIGHTEDFUNC	0.0	BOUNDED	13.4991	37.4991	1.0	NOE	;dist
AtomPair	CB	31	CB	120	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	20.646	1.0	0.5
AtomPair	CB	31	CB	120	SCALARWEIGHTEDFUNC	0.0	BOUNDED	8.646	32.646	1.0	NOE	;dist
AtomPair	CB	56	CB	269	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	18.5204	1.0	0.5
AtomPair	CB	56	CB	269	SCALARWEIGHTEDFUNC	0.0	BOUNDED	6.5204	30.5204	1.0	NOE	;dist
AtomPair	CB	130	CB	255	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	35.6655	1.0	0.5
AtomPair	CB	130	CB	255	SCALARWEIGHTEDFUNC	0.0	BOUNDED	23.6655	47.6655	1.0	NOE	;dist
AtomPair	CB	21	CB	203	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	44.9509	1.0	0.5
AtomPair	CB	21	CB	203	SCALARWEIGHTEDFUNC	0.0	BOUNDED	32.9509	56.9509	1.0	NOE	;dist
AtomPair	CB	7	CB	201	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	46.3398	1.0	0.5
AtomPair	CB	7	CB	201	SCALARWEIGHTEDFUNC	0.0	BOUNDED	34.3398	58.3398	1.0	NOE	;dist
AtomPair	CB	174	CB	241	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	11.9554	1.0	0.5
AtomPair	CB	174	CB	241	SCALARWEIGHTEDFUNC	0.0	BOUNDED	0.0	23.9554	20.0	NOE	;dist
AtomPair	CB	56	CB	127	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	27.0303	1.0	0.5
AtomPair	CB	56	CB	127	SCALARWEIGHTEDFUNC	0.0	BOUNDED	15.0303	39.0303	1.0	NOE	;dist
AtomPair	CB	56	CB	210	SCALARWEIGHTEDFUNC	0.0	SPLINE	EPR_DISTANCE	42.7369	1.0	0.5
AtomPair	CB	56	CB	210	SCALARWEIGHTEDFUNC	0.0	BOUNDED	30.7369	54.7369	1.0	NOE	;dist
